Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

chore(deps): update gcloud to v517
  .tool-versions
Due: none

chore: fix 2 mypy errors in ai_gateway/api/v1/chat/agent.py
  Makefile
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/chat/typing.py
Due: lint-code

chore: fix 18 errors in ai_gateway/code_suggestions/processing/completions.py
  Makefile
  ai_gateway/code_suggestions/experimental.py
  ai_gateway/code_suggestions/processing/base.py
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/code_suggestions/processing/typing.py
Due: lint-code

chore: remove gcloud workaround instructions
  README.md
Due: lint-doc

chore: fix mypy errors in tests/code_suggestions/test_engine.py
  Makefile
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/chat/typing.py
  tests/code_suggestions/test_engine.py
Due: lint-code

chore: fix 9 mypy errors in test_generations_base.py
  Makefile
  tests/code_suggestions/generations/test_generations_base.py
Due: lint-code

feat: add gemini-2.0-flash-lite prompts for measure_comment_temperature
  ai_gateway/prompts/definitions/measure_comment_temperature/base/1.0.1.yml
  ai_gateway/prompts/definitions/measure_comment_temperature/system/1.0.0.jinja
  ai_gateway/prompts/definitions/measure_comment_temperature/user/1.0.0.jinja
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.7
  .gitlab-ci.yml
Due: none

build(ingest): use mise to install deps in ingest image
  scripts/ingest/Dockerfile
Due: none

feat: exclude gitlab_documentation tool from toolset list for AmazonQ
  ai_gateway/prompts/definitions/chat/react/amazon_q/system/1.0.0.jinja
Due: none

chore(duo workflow): move proto gen and clients to ai gateway
  .gitignore
  .gitlab/ci/test.gitlab-ci.yml
  Makefile
  clients/gopb/contract/contract.pb.go
  clients/gopb/contract/contract_grpc.pb.go
  clients/gopb/go.mod
  clients/gopb/go.sum
  clients/ruby/.gitignore
  clients/ruby/.rubocop.yml
  clients/ruby/CODEOWNERS
  clients/ruby/Gemfile
  clients/ruby/Gemfile.lock
  clients/ruby/README.md
  clients/ruby/gitlab-duo-workflow-service-client.gemspec
  clients/ruby/lib/gitlab/duo_workflow_service.rb
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  clients/ruby/lib/proto/contract_services_pb.rb
  contract/contract_pb2.py
  contract/contract_pb2_grpc.py
Due: lint-code, lint-doc

chore: add tests for stream options
  tests/models/v2/test_container.py
Due: lint-code

fix: invalid measure comment json markdown output
  ai_gateway/prompts/definitions/measure_comment_temperature/base/1.0.2.yml
  ai_gateway/prompts/definitions/measure_comment_temperature/user/1.0.1.jinja
Due: none

chore(deps): update dependency boto3 to v1.37.37
  poetry.lock
Due: none

chore(deps): update dependency go to v1.24.2
  clients/gopb/go.mod
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.89.0
  poetry.lock
Due: none

chore(deps): update module google.golang.org/grpc to v1.71.1
  clients/gopb/go.mod
  clients/gopb/go.sum
Due: none

chore(deps): update module google.golang.org/protobuf to v1.36.6
  clients/gopb/go.mod
  clients/gopb/go.sum
Due: none

chore(duo workflow): move duo workflow service docs
  docs/duo_workflow_service.md
  docs/internal_events.md
  docs/layers_duo_workflow_service.excalidraw
  docs/layers_duo_workflow_service.png
  docs/maintainership.md
Due: lint-doc

chore(duo workflow): move dws tool-versions to ai gateway
  .tool-versions
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.9
  .gitlab-ci.yml
Due: none

fix: resolve mypy errors in x_ray/libraries.py
  Makefile
  ai_gateway/api/v1/x_ray/libraries.py
Due: lint-code

chore(deps): update langchain to 0.3.24
  poetry.lock
Due: none

chore: fix 8 errors in ai_gateway/code_suggestions/processing/post/completions.py
  Makefile
  ai_gateway/code_suggestions/processing/post/completions.py
Due: lint-code

chore: fix 2 errors in ai_gateway/models/agent_model.py
  Makefile
  ai_gateway/models/agent_model.py
Due: lint-code

chore: fix 11 errors in ai_gateway/models/v2/anthropic_claude.py
  Makefile
  ai_gateway/models/v2/anthropic_claude.py
Due: lint-code

chore: remove srayner from addtionalReviewers
  renovate.json
Due: none

feat: allow users to opt out of prompt cache
  ai_gateway/api/middleware/headers.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/models/litellm.py
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
Due: lint-code

chore(deps): update dependency langchain-anthropic to v0.3.12
  poetry.lock
Due: none

fix: make dws opt-in in ai gateway image
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
  example.env
  scripts/run.sh
Due: none

chore: fix 4 errors in ai_gateway/models/base.py
  Makefile
  ai_gateway/models/base.py
Due: lint-code

feat: route for fetching model config
  ai_gateway/api/v1/__init__.py
  ai_gateway/api/v1/models/__init__.py
  ai_gateway/api/v1/models/get_definitions.py
  ai_gateway/model_selection/__init__.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  tests/api/v1/models/__init__.py
  tests/api/v1/models/test_get_definitions.py
  tests/model_selection/__init__.py
  tests/model_selection/test_model_selection_config.py
Due: lint-code

feat: add token usage metrics
  ai_gateway/instrumentators/model_requests.py
  ai_gateway/prompts/base.py
  tests/instrumentators/test_model_requests.py
  tests/prompts/test_base.py
Due: lint-code

chore: switch staging QDI endpoint
  .runway/env-staging.yml
Due: none

chore: fix 13 errors in ai_gateway/models/anthropic.py
  Makefile
  ai_gateway/api/v1/x_ray/libraries.py
  ai_gateway/models/anthropic.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.10
  .gitlab-ci.yml
Due: none

chore(deps): update dependency sentry-sdk to v2.27.0
  poetry.lock
Due: none

chore: fixes logging not being sent
  ai_gateway/api/server.py
  ai_gateway/models/base.py
  ai_gateway/structured_logging.py
  tests/api/test_server.py
Due: lint-code

feat: adds model selection to v1/prompts
  ai_gateway/api/middleware/model_config.py
  ai_gateway/api/server.py
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/model_metadata.py
  ai_gateway/model_selection/__init__.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/prompts/registry.py
  tests/api/middleware/test_model_config.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v2/test_v2_code.py
  tests/model_selection/test_model_selection_config.py
  tests/prompts/test_registry.py
  tests/test_model_metadata.py
Due: lint-code

Path conditions:
  lint-code: any of: *.py
  lint-doc: any of: *.md
