Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc
pre-push:
    lint-commit:
      run: make lint-commit

feat: add code review feature model selection
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore: adding threshold to performance test
  docs/performance_testing.md
  performance_tests/k6_test/v2_code_completions.js
Due: lint-doc

chore(ci): include duo workflow group in reviewer roulette
  .gitlab/CODEOWNERS
  Dangerfile
  danger/roulette/Dangerfile
Due: none

chore: fix 12 mypy errors in ai_gateway/code_suggestions/container.py
  Makefile
  ai_gateway/code_suggestions/container.py
Due: lint-code

feat: add vulnerability resolution to model selection
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat: fix gitlab_identifiers and add more missing feature settings
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat: add model selection for glab_ask_git_command
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.13
  .gitlab-ci.yml
Due: none

feat: add model selection for troubleshoot_job
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat: upgrade glab to haiku 3.5
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/base/1.0.1.yml
Due: none

chore: ignores annotation-unchecked mypy warnings
  ai_gateway/model_selection/model_selection_config.py
  pyproject.toml
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.74
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore(docs): enhance documentation for prompt evaluation
  docs/evaluation.md
  docs/tests.md
Due: lint-doc

chore: remove trailing whitespaces in doc
  docs/aigw_prompt_registry.md
  docs/api.md
  docs/evaluation.md
  docs/inference_limits.md
  docs/internal_events.md
  docs/performance_testing.md
  docs/tests.md
Due: lint-doc

chore: fix common misspellings with codespell
  Makefile
  ai_gateway/api/v2/code/typing.py
  docs/api.md
  docs/auth.md
  duo_workflow_service/components/human_approval/tools_approval.py
  duo_workflow_service/tools/search.py
  duo_workflow_service/tools/toolset.py
  poetry.lock
  pyproject.toml
  tests/code_suggestions/post_processing/test_fix_truncation.py
  tests/duo_workflow_service/components/goal_disambiguation/test_disambiguation_component.py
  tests/duo_workflow_service/gitlab/test_http_client.py
Due: lint-code, lint-doc

feat: add claude 3.5 and 3.7 as selectable models for troubleshoot
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat: add support for model selection v2/completions
  ai_gateway/api/v2/code/completions.py
  ai_gateway/models/base.py
  tests/api/v2/test_v2_code.py
Due: lint-code

chore(deps): update dependency boto3 to v1.38.13
  poetry.lock
Due: none

chore(deps): update dependency pylint to v3.3.7
  poetry.lock
Due: none

chore(deps): update dependency go to v1.24.3
  clients/gopb/go.mod
Due: none

chore(deps): update dependency google-auth to v2.40.1
  poetry.lock
Due: none

chore(deps): update dependency poetry-core to v2.1.3
  poetry.lock
Due: none

Restore .github directory after GitLab sync
  .github/workflows/mirror-gitlab.yml
Due: none

chore(deps): update dependency astroid to v3.3.10
  poetry.lock
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.62.0
  .gitlab-ci.yml
Due: none

fix(build): missing lib dir for duo workflow service
  Dockerfile
Due: none

chore: standardise code format with EditorConfig
  .editorconfig
  pyproject.toml
Due: none

fix(build): lib is ignored by dockerignore
  .dockerignore
Due: none

feat: add resolve vulnerability 1.0.1 version
  ai_gateway/prompts/definitions/resolve_vulnerability/base/1.0.1.yml
Due: none

feat: add vulnerability explanation to model selection
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

refactor: add adapter to redirect v1 chat request through v2 chat
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/feature_flags/context.py
  tests/api/v1/test_v1_chat_agent_redirect.py
  tests/api/v2/test_v2_chat_agent.py
Due: lint-code

chore: adds linting that verifies model configuration
  .gitlab/ci/lint.gitlab-ci.yml
  Makefile
  ai_gateway/model_selection/__init__.py
  ai_gateway/model_selection/model_selection_config.py
  pyproject.toml
  tests/model_selection/test_model_selection_config.py
Due: lint-code

chore: update to latest docs linting rules
  .markdownlint-cli2.yaml
  docs/.vale/gitlab_base/CodeblockFences.yml
  docs/.vale/gitlab_base/NonStandardHyphens.yml
  docs/.vale/gitlab_base/SubstitutionWarning.yml
  docs/.vale/gitlab_base/Wordy.yml
Due: none

chore: lint docs in clients folder
  Makefile
  clients/node/README.md
  clients/ruby/README.md
Due: lint-doc

feat: removal of Claude 2_1 usage
  ai_gateway/api/v1/chat/typing.py
  ai_gateway/api/v1/x_ray/typing.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/code_suggestions/generations.py
  ai_gateway/models/anthropic.py
  ai_gateway/x_ray/container.py
  docs/api.md
  docs/inference_limits.md
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v2/test_v2_mocks.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
  tests/chat/test_container.py
  tests/code_suggestions/test_container.py
  tests/models/test_anthropic.py
  tests/models/v2/test_v2_anthropic.py
  tests/prompts/test_registry.py
Due: lint-code, lint-doc

chore(deps): exclude markdownlint from renovate
  renovate.json
Due: none

chore: remove llm cache from gitignore
  .gitignore
Due: none

chore(deps): update module google.golang.org/grpc to v1.72.0
  clients/gopb/go.mod
  clients/gopb/go.sum
Due: none
