Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc
pre-push:
    lint-commit:
      run: make lint-commit

chore(duo workflow): sync dws repository 2025-05-13
  Makefile
  clients/gopb/go.mod
  duo_workflow_service/agents/prompts.py
  duo_workflow_service/gitlab/http_client.py
  duo_workflow_service/tools/planner.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/lints/__init__.py
Due: lint-code

refactor: move MiddlewareAuthentication to authentication.py
  ai_gateway/api/middleware/__init__.py
  ai_gateway/api/middleware/authentication.py
  ai_gateway/api/middleware/base.py
Due: lint-code

feat: add graph type to langsmith workflow tracking
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.62.1
  .gitlab-ci.yml
Due: none

chore(duo workflow): final sync dws repository 2025-05-14
  .gitlab/CODEOWNERS
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  clients/gopb/go.mod
  clients/gopb/go.sum
  clients/node/package-lock.json
  clients/node/package.json
  renovate.json
Due: none

chore(build): update dws clients
  clients/gopb/contract/contract.pb.go
  clients/gopb/go.mod
  clients/node/package-lock.json
  clients/node/package.json
  clients/ruby/README.md
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
Due: lint-code, lint-doc

chore: Remove x-gitlab-duo-seat-count references
  ai_gateway/api/middleware/base.py
  ai_gateway/api/middleware/internal_event.py
  tests/api/middleware/test_internal_event.py
  tests/api/v1/test_v1_code.py
  tests/code_suggestions/test_authentication.py
Due: lint-code

chore: update documentation on internal events
  README.md
  docs/internal_events.md
  example.env
  tests/api/middleware/test_internal_event.py
  tests/code_suggestions/test_logging.py
Due: lint-code, lint-doc

feat: send NewCheckpoint message on Workflow updates
  duo_workflow_service/checkpointer/notifier.py
  duo_workflow_service/servers/grpc_server.py
  duo_workflow_service/workflows/abstract_workflow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/checkpointer/test_notifier.py
  tests/duo_workflow_service/servers/test_grpc_server.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/software_development/workflow/test_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: lint-code

feat: add token limits metrics
  ai_gateway/config.py
  ai_gateway/instrumentators/model_requests.py
  ai_gateway/models/base.py
  ai_gateway/models/container.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/container.py
  ai_gateway/prompts/registry.py
  ai_gateway/proxy/clients/base.py
  docs/inference_limits.md
  example.env
  tests/conftest.py
  tests/instrumentators/test_model_requests.py
  tests/models/test_base.py
  tests/prompts/test_base.py
  tests/prompts/test_container.py
  tests/prompts/test_registry.py
  tests/proxy/clients/fixtures.py
  tests/proxy/clients/test_anthropic.py
  tests/proxy/clients/test_base.py
  tests/proxy/clients/test_vertex_ai.py
  tests/test_config.py
Due: lint-code, lint-doc

chore(deps): update dependency sse-starlette to v2.3.5
  poetry.lock
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.76
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

fix(duo workflow): use correct cloud connector environment variable
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  duo_workflow_service/server.py
Due: lint-code

chore: fixes model validation lint
  Makefile
Due: none

feat: add and update explain vulnerability model
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore: downgrade langgraph to 0.2.52
  poetry.lock
  pyproject.toml
Due: none

feat: add slash command prompt expansion architecture
  duo_workflow_service/config/slash_commands/explain.yaml
  duo_workflow_service/entities/state.py
  duo_workflow_service/slash_commands/__init__.py
  duo_workflow_service/slash_commands/definition.py
  duo_workflow_service/slash_commands/error_handler.py
  duo_workflow_service/slash_commands/goal_parser.py
  duo_workflow_service/slash_commands/prompt_expander.py
  tests/duo_workflow_service/slash_commands/__init__.py
  tests/duo_workflow_service/slash_commands/test_definition.py
  tests/duo_workflow_service/slash_commands/test_error_handler.py
  tests/duo_workflow_service/slash_commands/test_goal_parser.py
  tests/duo_workflow_service/slash_commands/test_prompt_expander.py
Due: lint-code

feat(duo_workflow): Add http response to proto
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
Due: lint-code

chore: Add analytics instrumentation review to Dangerbot
  Dangerfile
  danger/roulette/Dangerfile
Due: none

chore: fix 6 errors in ai_gateway/models/vertex_text.py
  Makefile
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/models/base.py
  ai_gateway/models/vertex_text.py
Due: lint-code

feat: add stream_options based on the client's stream param
  ai_gateway/models/v2/chat_litellm.py
  ai_gateway/models/v2/container.py
  tests/models/v2/test_chat_litellm_client.py
  tests/models/v2/test_container.py
Due: lint-code

feat: enables fetching gitlab model per feature
  ai_gateway/model_metadata.py
  ai_gateway/model_selection/model_selection_config.py
  tests/model_selection/test_model_selection_config.py
  tests/test_model_metadata.py
Due: lint-code

chore: automatically collapose protobuf generated files in MR reviews
  .gitattributes
Due: none

test: reset feature flag context in test
  tests/conftest.py
  tests/feature_flags/test_context.py
Due: lint-code

chore: Shorten chat graph & remove events
  duo_workflow_service/agents/agent.py
  duo_workflow_service/checkpointer/gitlab_workflow.py
  duo_workflow_service/tools/duo_base_tool.py
  duo_workflow_service/workflows/chat/workflow.py
  poetry.lock
  pyproject.toml
  tests/duo_workflow_service/agents/test_agent.py
  tests/duo_workflow_service/tools/test_duo_base_tool.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: lint-code

chore: track prometheus metrics for all tool calls/actions
  duo_workflow_service/executor/action.py
Due: lint-code

chore(duoworkflow): Create protobuf for new tools
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
Due: lint-code

feat: stream an ephemeral message for chat
  duo_workflow_service/checkpointer/notifier.py
  duo_workflow_service/servers/grpc_server.py
  duo_workflow_service/workflows/abstract_workflow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/checkpointer/test_notifier.py
  tests/duo_workflow_service/servers/test_grpc_server.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/software_development/workflow/test_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: lint-code

feat: bump cloud connector to 2.11.0
  poetry.lock
  pyproject.toml
Due: none

fix: Correctly show in Langsmith UI if a run fails
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: lint-code

fix: update v1 to v2 conversion to account for system prompts
  ai_gateway/api/v1/chat/agent.py
  tests/api/v1/test_v1_chat_agent_redirect.py
Due: lint-code

feat: Duo-Workflow include context as part of conversation
  duo_workflow_service/agents/agent.py
  duo_workflow_service/entities/state.py
  duo_workflow_service/servers/grpc_server.py
  duo_workflow_service/workflows/abstract_workflow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/agents/test_agent.py
  tests/duo_workflow_service/servers/test_grpc_server.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: lint-code

chore(deps): update dependency evilmartians/lefthook to v1.11.13
  .tool-versions
Due: none

chore(deps): update dependency langchain-community to v0.3.24
  poetry.lock
Due: none

chore(deps): update dependency prometheus-client to ^0.22.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency sentry-sdk to v2.28.0
  poetry.lock
Due: none

Restore .github directory after GitLab sync
  .github/workflows/mirror-gitlab.yml
Due: none

chore(deps): update dependency numpy to v2.2.6
  poetry.lock
Due: none

chore(duo workflow): update ruby dws client
  Dangerfile
  clients/ruby/.gitlab-ci.yml
  clients/ruby/.rubocop.yml
  clients/ruby/GITLAB.md
  clients/ruby/Gemfile.lock
  clients/ruby/README.md
  clients/ruby/gitlab-duo-workflow-service-client.gemspec
  clients/ruby/lib/gitlab/duo_workflow_service.rb
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
Due: lint-doc

fix(ci): release node client from canonical
  .gitlab/ci/release.gitlab-ci.yml
  clients/node/package-lock.json
  clients/node/package.json
Due: none
