Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

test: run tests in parallel
  Makefile
  docs/tests.md
  poetry.lock
  pyproject.toml
Due: lint-doc

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.68
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.60.0
  .gitlab-ci.yml
Due: none

chore(deps): update dependency flake8 to v7.2.0
  ai_gateway/api/middleware/base.py
  poetry.lock
Due: lint-code

chore(deps): update dependency danger-review to v2.1.0
  .gitlab-ci.yml
Due: none

feat(q): imitate streaming response for code suggestions
  ai_gateway/api/v3/code/completions.py
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/generations.py
  ai_gateway/models/amazon_q.py
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_generation.py
  tests/models/test_amazon_q.py
Due: lint-code

feat(prompts): add missing prompts for resolve vulnerability feature
  ai_gateway/prompts/definitions/resolve_vulnerability/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/resolve_vulnerability/gpt/1.0.0.yml
  ai_gateway/prompts/definitions/resolve_vulnerability/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/resolve_vulnerability/mistral/1.0.0.yml
  ai_gateway/prompts/definitions/resolve_vulnerability/mixtral/1.0.0.yml
Due: none

chore: Adds pylint for test file naming
  lints/file_naming_for_tests.py
  pyproject.toml
  tests/lints/test_file_naming_for_tests.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.60.1
  .gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.69
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore: excluding security project from running the performance test job
  .gitlab/ci/performance.gitlab-ci.yml
Due: none

feat(prompts): add missing prompts for summarize review feature
  ai_gateway/prompts/definitions/summarize_review/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/summarize_review/gpt/1.0.0.yml
  ai_gateway/prompts/definitions/summarize_review/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/summarize_review/mistral/1.0.0.yml
  ai_gateway/prompts/definitions/summarize_review/mixtral/1.0.0.yml
Due: none

chore: fix mypy errors in ai_gateway/chat/
  Makefile
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/base.py
  ai_gateway/chat/container.py
  ai_gateway/chat/context/current_page.py
  ai_gateway/chat/executor.py
  ai_gateway/chat/tools/base.py
  ai_gateway/chat/toolset.py
Due: lint-code

chore: disables HF when using custom models
  docker/self_hosted/Dockerfile
Due: none

refactor: consolidate messages[].agent_scratchpad and options.agent_scratchpad
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  tests/api/v2/test_v2_chat_agent.py
  tests/chat/test_agent_react.py
Due: lint-code

chore: adding env var for component performance testing
  .gitlab/ci/performance.gitlab-ci.yml
Due: none

chore: make mypy errors in ai_gateway/api itterable to solve
  Makefile
  ai_gateway/api/middleware/feature_flag.py
  ai_gateway/api/monitoring.py
  ai_gateway/api/v3/code/completions.py
Due: lint-code

fix(): errors discovered by mypy in AIGW 1
  Makefile
  ai_gateway/code_suggestions/experimental.py
  ai_gateway/code_suggestions/processing/base.py
  ai_gateway/code_suggestions/processing/pre/base.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.70
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.2
  .gitlab-ci.yml
Due: none

feat(prompts): add missing prompts for Duo for CLI feature
  ai_gateway/prompts/definitions/glab_ask_git_command/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/gpt/1.0.0.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/mistral/1.0.0.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/mixtral/1.0.0.yml
  ai_gateway/prompts/definitions/glab_ask_git_command/system/1.0.0.jinja
  ai_gateway/prompts/definitions/glab_ask_git_command/user/1.0.0.jinja
Due: none

feat: remove code gecko as default code completion
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/model_provider_handlers.py
  ai_gateway/models/container.py
  tests/api/v2/test_v2_code.py
Due: lint-code

fix(lint): fix mypy error exclusion
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/executor.py
Due: lint-code

fix: handle Vertex errors without status code
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/instrumentators/base.py
  tests/code_suggestions/test_engine.py
Due: lint-code

fix(lint): address mypy errors in api/middleware
  Makefile
  ai_gateway/api/middleware/base.py
  ai_gateway/api/middleware/model_config.py
Due: lint-code

Revert "Merge branch '519375-remove-code-gecko-code-completion' into 'main'"
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/model_provider_handlers.py
  ai_gateway/models/container.py
  tests/api/v2/test_v2_code.py
Due: lint-code

Revert "Merge branch 'revert-519375-remove-code-gecko-code-completion' into 'main'"
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/model_provider_handlers.py
  ai_gateway/models/container.py
  tests/api/v2/test_v2_code.py
Due: lint-code

feat: add retry-after header to response
  ai_gateway/api/server.py
  ai_gateway/api/server_utils.py
  tests/api/test_server.py
  tests/api/test_server_utils.py
Due: lint-code

fix(lint): address mypy errors in api/server
  Makefile
  ai_gateway/api/server.py
Due: lint-code

chore(deps): update dependency boto3 to v1.37.28
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.11.6
  .tool-versions
Due: none

chore(deps): update dependency langchain to v0.3.23
  poetry.lock
Due: none

chore(deps): update dependency langchain-community to v0.3.21
  poetry.lock
Due: none

chore(deps): update dependency gitlab-cloud-connector to v2.9.0
  poetry.lock
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.71
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore: fix various test file name linting issues
  lints/file_naming_for_tests.py
  tests/chat/agents/test_react.py
  tests/chat/test_executor.py
  tests/prompts/test_base.py
  tests/prompts/test_base_registry.py
Due: lint-code

chore(deps): update dependency pytest-cov to v6.1.1
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.51.0
  poetry.lock
Due: none

fix(lint): fix mypy errors in api/snowplow_context
  Makefile
  ai_gateway/api/snowplow_context.py
  tests/api/test_snowplow_context.py
Due: lint-code

chore: breakup ai_gateway/models mypy exclusion
  Makefile
Due: none

Path conditions:
  lint-code: any of: *.py
  lint-doc: any of: *.md
