Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc
pre-push:
    lint-commit:
      run: make lint-commit

chore(deps): update dependency sse-starlette to v2.3.3
  poetry.lock
Due: none

chore(deps): update dependency structlog to v25.3.0
  poetry.lock
Due: none

chore: modify ai-gateway-custom to use dev Q
  .runway/ai-gateway-custom/env-production.yml
Due: none

fix: use dict for PredictionServiceAsyncClient client options
  ai_gateway/models/base.py
Due: lint-code

fix: Resolve thread safety issue with capture logs
  docs/tests.md
  tests/abuse_detection/test_detector.py
  tests/api/test_server.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v2/test_v2_code.py
  tests/chat/agents/test_react.py
  tests/code_suggestions/test_authentication.py
  tests/code_suggestions/test_logging.py
  tests/instrumentators/test_model_requests.py
  tests/instrumentators/test_threads.py
  tests/tracking/test_errors.py
Due: lint-code, lint-doc

chore: renaming the test file as well as the directory to follow standard
  .gitlab/ci/performance.gitlab-ci.yml
  docs/performance_testing.md
  performance_tests/k6_test/v2_code_completions.js
Due: lint-doc

Revert "Merge branch '837-use-model-selection' into 'main'"
  ai_gateway/api/middleware/model_config.py
  ai_gateway/api/server.py
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/model_metadata.py
  ai_gateway/model_selection/__init__.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/prompts/registry.py
  tests/api/middleware/test_model_config.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v2/test_v2_code.py
  tests/model_selection/test_model_selection_config.py
  tests/prompts/test_registry.py
  tests/test_model_metadata.py
Due: lint-code

chore: add links to more maintainer docs
  docs/maintainership.md
Due: lint-doc

feat: add config name to model selection
  ai_gateway/api/v1/models/get_definitions.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/unit_primitives.yml
  tests/api/v1/models/test_get_definitions.py
  tests/model_selection/test_model_selection_config.py
Due: lint-code

fix(test): disable cached logger in test
  tests/conftest.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.11
  .gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-dangerfiles to '~> 4.9.0'
  Gemfile
Due: none

Reapply "feat: adds model selection to v1/prompts"
  ai_gateway/api/middleware/model_config.py
  ai_gateway/api/server.py
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/model_metadata.py
  ai_gateway/model_selection/__init__.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/prompts/registry.py
  tests/api/middleware/test_model_config.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v2/test_v2_code.py
  tests/model_selection/test_model_selection_config.py
  tests/prompts/test_registry.py
  tests/test_model_metadata.py
Due: lint-code

refactor: extract InternalEventMiddleware to dedicated module
  ai_gateway/api/middleware/__init__.py
  ai_gateway/api/middleware/internal_event.py
  ai_gateway/structured_logging.py
  tests/api/middleware/test_base.py
  tests/api/middleware/test_internal_event.py
  tests/api/test_server.py
Due: lint-code

refactor: improve readability by not shortening the variable name
  ai_gateway/api/v1/models/get_definitions.py
Due: lint-code

chore: docs on model selection config
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  docs/model_selection.md
Due: lint-doc

chore: make api keys optional for request without passing dummy key
  ai_gateway/model_metadata.py
  tests/test_model_metadata.py
Due: lint-code

chore(deps): update dependency boto3 to v1.38.5
  poetry.lock
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.72
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore(deps): update dependency google-auth to v2.39.0
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.9.1
  poetry.lock
Due: none

chore(deps): update module google.golang.org/grpc to v1.72.0
  clients/gopb/go.mod
  clients/gopb/go.sum
Due: none

feat: add additional context types 'repository' and 'directory'
  ai_gateway/chat/agents/typing.py
  poetry.lock
  pyproject.toml
  tests/api/v2/test_v2_chat_agent.py
Due: lint-code

fix(test): clean-up `pytest-xdist` to test and refactor caplog call
  docs/tests.md
  tests/abuse_detection/test_detector.py
  tests/api/test_server.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v2/test_v2_code.py
  tests/chat/agents/test_react.py
  tests/code_suggestions/test_authentication.py
  tests/code_suggestions/test_logging.py
  tests/instrumentators/test_model_requests.py
  tests/instrumentators/test_threads.py
  tests/tracking/test_errors.py
Due: lint-code, lint-doc

chore: adding warmup period to the performance test
  docs/performance_testing.md
  performance_tests/k6_test/v2_code_completions.js
Due: lint-doc

feat: add available models for all the missing feature settings
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore(deps): update dependency starlette to v0.46.2
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.51.3
  poetry.lock
Due: none

chore(deps): update dependency uvicorn to v0.34.2
  poetry.lock
Due: none

chore(deps): update dependency anthropic to ^0.50.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.91.0
  poetry.lock
Due: none

feat: introduce X-ray support for code generation in Self Hosted Duo
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/_library_section/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_codestral/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_mistral/1.0.0.jinja
Due: none

feat: introduce example support for code generation in Self Hosted Duo
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/_example_section/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_codestral/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_mistral/1.0.0.jinja
Due: none

feat: update code completion models to support model selection
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

fix: disable vertex deprecated model
  ai_gateway/api/monitoring.py
  tests/api/test_monitoring.py
Due: lint-code

chore(deps): update dependency langchain to v0.3.25
  poetry.lock
Due: none

chore(deps): update dependency langchain-community to v0.3.23
  poetry.lock
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.12
  .gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.73
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

feat(eval): support evaluators in `eval` command
  Makefile
  ai_gateway/container.py
  docs/tests.md
  eval/main.py
  poetry.lock
  pyproject.toml
  tests/proxy/clients/test_base.py
Due: lint-code, lint-doc
