Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc
pre-push:
    lint-commit:
      run: make lint-commit

chore: decouples request logging from feature flag
  ai_gateway/api/middleware/self_hosted_logging.py
  ai_gateway/api/server.py
  ai_gateway/main.py
  ai_gateway/structured_logging.py
  tests/api/middleware/test_self_hosted_logging.py
  tests/api/test_server.py
  tests/test_structured_log.py
Due: lint-code

feat: create updating prompt script
  scripts/update_prompt_version.sh
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.3
  .gitlab-ci.yml
Due: none

chore: fix additional file name linting issues
  Makefile
  lints/file_naming_for_tests.py
  tests/code_suggestions/generations/test_generations_base.py
  tests/code_suggestions/models/test_base.py
  tests/code_suggestions/models/test_palm.py
  tests/code_suggestions/prompts/parsers/test_parsers_base.py
  tests/code_suggestions/prompts/test_base.py
  tests/models/test_anthropic.py
  tests/models/test_base.py
  tests/models/test_mock.py
  tests/models/test_vertex_text.py
Due: lint-code

chore: adds logs for the prompt that is sent
  ai_gateway/api/middleware/self_hosted_logging.py
  ai_gateway/prompts/base.py
  tests/prompts/test_base.py
  tests/test_model_metadata.py
Due: lint-code

fix: fix fireworks/codestral regional endpoints being reversed
  .runway/ai-gateway-custom/env-production.yml
  .runway/env-production.yml
Due: none

feat: restore Claude 3.7 for code creation slash comands
  ai_gateway/prompts/definitions/chat/explain_code/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/fix_code/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/refactor_code/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/write_tests/base/1.0.1.yml
Due: none

chore: move qwen endpoints to Tokyo in other regions since they are unused
  .runway/ai-gateway-custom/env-production.yml
  .runway/env-production.yml
Due: none

chore(deps): update dependency litellm to v1.65.4
  poetry.lock
  pyproject.toml
  tests/prompts/test_litellm_prompt.py
Due: lint-code

feat: add new api to verify Oauth app connection
  ai_gateway/api/v1/amazon_q/application.py
  ai_gateway/api/v1/amazon_q/typing.py
  ai_gateway/integrations/amazon_q/client.py
  ai_gateway/integrations/amazon_q/errors.py
  poetry.lock
  pyproject.toml
  tests/api/v1/test_v1_application.py
  tests/integrations/amazon_q/test_client.py
  vendor/q_developer_boto3-1.12.0-py3-none-any.whl
Due: lint-code

chore: add summarize comments prompts for GPT and llama3
  ai_gateway/prompts/definitions/chat/summarize_comments/gpt/1.0.0.yml
  ai_gateway/prompts/definitions/chat/summarize_comments/llama3/1.0.0.yml
Due: none

chore(deps): bump Python version to 3.12.9
  .gitlab-ci.yml
  .tool-versions
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

fix: handle AWSException for code recommendation
  ai_gateway/integrations/amazon_q/errors.py
  ai_gateway/models/amazon_q.py
Due: lint-code

chore: Add text-embedding-005 Vertex model support
  ai_gateway/models/vertex_text.py
Due: lint-code

feat(internal events): track token usage
  ai_gateway/internal_events/client.py
  ai_gateway/internal_events/context.py
  ai_gateway/models/v2/container.py
  ai_gateway/prompts/base.py
  tests/code_suggestions/internal_events/test_internal_events.py
  tests/conftest.py
  tests/models/v2/test_container.py
  tests/prompts/test_base.py
Due: lint-code

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.61.5
  .gitlab-ci.yml
Due: none

fix: resolve mypy errors in invoke.py
  Makefile
  ai_gateway/api/v1/prompts/invoke.py
Due: lint-code

fix: remove mypy exclusion rule for models/v2/container.py
  Makefile
Due: none

chore(deps): bump Python version to 3.12.10
  .gitlab-ci.yml
  .tool-versions
  Dockerfile
Due: none

fix: removes middleware conflict
  ai_gateway/api/middleware/self_hosted_logging.py
  ai_gateway/api/server.py
Due: lint-code

chore: fix LegacyKeyValueFormat warnings by Docker
  scripts/ingest/Dockerfile
Due: none

chore: updating rule to not run performance job on MR from fork
  .gitlab/ci/performance.gitlab-ci.yml
  docs/performance_testing.md
Due: lint-doc

chore: fix typos
  ai_gateway/api/middleware/base.py
  ai_gateway/api/server.py
  ai_gateway/config.py
  docs/api.md
  tests/instrumentators/test_model_requests.py
Due: lint-code, lint-doc

chore: fix 6 mypy errors in ai_gateway/api/v2/chat/agent.py
  Makefile
  ai_gateway/api/v2/chat/agent.py
Due: lint-code

chore: fix 4 errors in ai_gateway/code_suggestions/generations.py
  Makefile
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/generations.py
Due: lint-code

refactor: remove experimentation logic
  ai_gateway/__init__.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/code_suggestions/processing/base.py
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/code_suggestions/processing/typing.py
  ai_gateway/experimentation/__init__.py
  ai_gateway/experimentation/base.py
  ai_gateway/experimentation/experiments/__init__.py
  ai_gateway/experimentation/experiments/exp_truncate_suffix.py
  ai_gateway/experimentation/provider.py
  ai_gateway/instrumentators/base.py
  docs/api.md
  tests/code_suggestions/processing/test_prompt_builder.py
  tests/code_suggestions/test_engine.py
  tests/conftest.py
Due: lint-code, lint-doc

chore(deps): update dependency boto3 to v1.37.33
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.51.2
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.88.0
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.66.0
  poetry.lock
Due: none

chore(duo workflow): allow dws to run in ai gateway image
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
  Dockerfile
  ai_gateway/config.py
  docs/auth.md
  duo_workflow_service/server.py
  example.env
  scripts/run.sh
Due: lint-code, lint-doc

chore: passing new environment variable downstream
  .gitlab/ci/performance.gitlab-ci.yml
Due: none

feat: allow enabling litellm verbose logging
  ai_gateway/config.py
  ai_gateway/structured_logging.py
  example.env
Due: lint-code

fix: set default value for observation (again)
  ai_gateway/chat/agents/typing.py
Due: lint-code

chore: fix 1 error in ai_gateway/models/amazon_q.py
  Makefile
  ai_gateway/models/amazon_q.py
Due: lint-code

chore(duo workflow): deploy duo workflow service from ai gateway repo
  .gitlab-ci.yml
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  .runway/duo-workflow-svc/runway-production.yml
  .runway/duo-workflow-svc/runway-staging.yml
  README.md
Due: lint-doc

chore: allowing the dotenv-vars and tests:performance job to fail
  .gitlab/ci/performance.gitlab-ci.yml
Due: none

feat: update documentation prompt to provide fallback answer
  ai_gateway/prompts/definitions/chat/documentation_search/user/1.0.0.jinja
Due: none
