Repository movax01h/ai-gateway: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-doc

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

feat: support epic comments in Duo Workflow
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/epic.py
  duo_workflow_service/workflows/chat/workflow.py
  duo_workflow_service/workflows/software_development/workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_epic.py
Due: lint-code

chore: consolidate Duo Workflow docs
  docs/duo_workflow_service.md
Due: lint-doc

feat: add synthetic prompt eval dataset generator
  Makefile
  docs/evaluation/dataset_generation.md
  docs/evaluation/index.md
  eval/generate_dataset.py
  lints/file_naming_for_tests.py
  poetry.lock
  pyproject.toml
  tests/eval/__init__.py
  tests/eval/test_generate_dataset.py
Due: lint-code, lint-doc

chore: Update Cloud Connector version to 2.13
  poetry.lock
  pyproject.toml
Due: none

feat: release v1 chat redirect and remove ff
  ai_gateway/api/v1/chat/agent.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v1/test_v1_chat_agent_redirect.py
Due: lint-code

feat: add review_merge_request prompts
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/prompts/definitions/review_merge_request/base/1.0.0.yml
  ai_gateway/prompts/definitions/review_merge_request/system/1.0.0.jinja
  ai_gateway/prompts/definitions/review_merge_request/user/1.0.0.jinja
Due: none

test: avoid race condition in test fixture
  tests/prompts/test_base.py
Due: lint-code

chore: Stub env variable to flaky test
  tests/duo_workflow_service/workflows/software_development/workflow/test_workflow.py
Due: lint-code

feat: Adds git components for Jenkins graph
  duo_workflow_service/workflows/convert_to_gitlab_ci/workflow.py
  tests/duo_workflow_service/workflows/convert_to_gitlab_ci/test_convert_to_gitlab_ci_workflow.py
Due: lint-code

chore(duo_workflow): allow failure of regression tests
  .gitlab/ci/test.gitlab-ci.yml
Due: none

feat(duoworkflow): File System Tool Refactoring
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/filesystem.py
  duo_workflow_service/tools/search_system.py
  duo_workflow_service/workflows/chat/workflow.py
  duo_workflow_service/workflows/search_and_replace/workflow.py
  duo_workflow_service/workflows/software_development/workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_filesystem.py
  tests/duo_workflow_service/tools/test_search_system.py
  tests/duo_workflow_service/workflows/software_development/workflow/test_workflow.py
Due: lint-code

ci: fix commit SHA on merge results pipelines
  .gitlab/ci/test.gitlab-ci.yml
Due: none

feat: Add ability to directly call HTTP APIs on GitLab.com
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  duo_workflow_service/gitlab/connection_pool.py
  duo_workflow_service/gitlab/direct_http_client.py
  duo_workflow_service/gitlab/executor_http_client.py
  duo_workflow_service/gitlab/http_client.py
  duo_workflow_service/gitlab/http_client_factory.py
  duo_workflow_service/servers/grpc_server.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/gitlab/test_connection_pool.py
  tests/duo_workflow_service/gitlab/test_direct_http_client.py
  tests/duo_workflow_service/gitlab/test_executor_http_client.py
  tests/duo_workflow_service/gitlab/test_http_client.py
  tests/duo_workflow_service/gitlab/test_http_client_factory.py
  tests/duo_workflow_service/servers/test_grpc_server.py
Due: lint-code

fix: fix variable injection syntax
  ai_gateway/prompts/definitions/review_merge_request/user/1.0.0.jinja
Due: none

feat: Add GitLab team membership tracking to event context
  duo_workflow_service/interceptors/__init__.py
  duo_workflow_service/interceptors/internal_events_interceptor.py
  tests/duo_workflow_service/interceptors/test_internal_events_interceptor.py
Due: lint-code

refactor: Batch Planner instructions
  duo_workflow_service/agents/prompts.py
Due: lint-code

chore: Add sample prompt eval datasets
  docs/evaluation/dataset_generation.md
Due: lint-doc

chore: Fix flaky test
  tests/duo_workflow_service/workflows/software_development/workflow/test_workflow.py
Due: lint-code

fix: properly join base url and path for direct conns
  duo_workflow_service/gitlab/direct_http_client.py
  example.env
  tests/duo_workflow_service/gitlab/test_direct_http_client.py
Due: lint-code

fix: fixes model_metadata pydantic parsing
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/model_metadata.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v2/test_v2_chat_agent.py
  tests/conftest.py
  tests/test_model_metadata.py
Due: lint-code

chore: fix start workflow logging
  duo_workflow_service/servers/grpc_server.py
  tests/duo_workflow_service/servers/test_grpc_server.py
Due: lint-code

feat: add model selection for duo_chat_summarize_comments
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat: DuoWF Implement Prometheus Counter for LLM Response stop_reason
  duo_workflow_service/agents/agent.py
  duo_workflow_service/tracking/duo_workflow_metrics.py
  tests/duo_workflow_service/tracking/test_duo_workflow_metrics.py
Due: lint-code

fix: allow partial model limits config
  ai_gateway/config.py
  ai_gateway/instrumentators/model_requests.py
  tests/instrumentators/test_model_requests.py
  tests/test_config.py
Due: lint-code

feat: add Claude 4 Sonnet for Duo Workflow
  ai_gateway/models/anthropic.py
  duo_workflow_service/llm_factory.py
Due: lint-code

fix: Made dataset names consistent with guidelines
  docs/evaluation/dataset_generation.md
Due: lint-doc

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.77
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.64.0
  .gitlab-ci.yml
Due: none

feat: implement commit tool in Duo Workflow
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/gitlab/url_parser.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/commit.py
  duo_workflow_service/workflows/chat/workflow.py
  duo_workflow_service/workflows/software_development/workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/gitlab/test_url_parser.py
  tests/duo_workflow_service/tools/test_commit.py
Due: lint-code

feat: Update Chat prompt with base instructions
  duo_workflow_service/agents/prompts.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: lint-code

feat: add tools to get commit diff and comments
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/commit.py
  duo_workflow_service/workflows/chat/workflow.py
  duo_workflow_service/workflows/software_development/workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_commit.py
Due: lint-code

feat: Add the correlation ID middleware to the websocket server
  duo_workflow_service/interceptors/correlation_id_interceptor.py
  duo_workflow_service/interceptors/websocket_middleware.py
  duo_workflow_service/servers/websocket_server.py
  tests/duo_workflow_service/interceptors/test_correlation_id_interceptor.py
  tests/duo_workflow_service/interceptors/test_websocket_middleware.py
Due: lint-code

chore: add claude 4 model configuration file
  ai_gateway/prompts/model_configs/claude_4_0.yml
Due: none

feat: agentic duo chat goal parser module implementation
  duo_workflow_service/slash_commands/goal_parser.py
  tests/duo_workflow_service/slash_commands/test_goal_parser.py
  tests/duo_workflow_service/slash_commands/test_prompt_expander.py
Due: lint-code

chore(deps): update dependency @grpc/grpc-js to v1.13.4
  clients/node/package-lock.json
Due: none

chore(deps): update dependency google-auth to v2.40.2
  poetry.lock
Due: none

chore(deps): update dependency sentry-sdk to v2.29.1
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.52.3
  poetry.lock
Due: none

Path conditions:
  lint-code: any of: *.py
  lint-doc: any of: *.md
