Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

fix(duo-workflow): exclude get_previous_session_context from ListTools / Direct Access
  duo_workflow_service/tools/previous_context.py
  tests/duo_workflow_service/test_server.py
Due: none

feat: add GLM 5.2 model for team members
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat(chat): apply get_previous_session_context tool to agentic chat
  duo_workflow_service/tools/previous_context.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(litellm): bump deps and fix empty-text leak
  ai_gateway/api/error_utils.py
  ai_gateway/api/server.py
  ai_gateway/api/v1/embeddings/code_embeddings.py
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/models/v2/chat_litellm.py
  ai_gateway/models/v2/litellm_empty_text_patch.py
  poetry.lock
  pyproject.toml
  tests/api/test_server.py
  tests/api/v1/test_v1_events.py
  tests/models/v2/test_chat_litellm.py
  tests/models/v2/test_litellm_empty_text_patch.py
Due: build:duo-agent-image, dependency_check

feat(fix-pipeline): add experimental single-agent fix pipeline flow
  ai_gateway/prompts/definitions/common/fix_pipeline_failure_categories/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_context/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_experiment/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_experiment/user/1.0.0.jinja
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/experimental/flows/base.py
  duo_workflow_service/agent_platform/experimental/flows/configs/fix_pipeline/1.0.0.yml
Due: none

chore(deps): update dependency pytest to v9.1.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

test: ignore pytest 9.1 class-scoped-fixture deprecation
  pyproject.toml
Due: build:duo-agent-image

docs(checkpointer): update incremental checkpoints for self-contained groups and slim header
  docs/incremental_checkpoints.md
Due: none

feat: add get_previous_session_context to v1 flow
  duo_workflow_service/agent_platform/v1/flows/configs/software_development/1.0.0.yml
Due: none

chore(deps): update dependency tenacity to v9
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

feat: Add on_agent_reasoning to all foundational flows
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/convert_to_gl_ci/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/duo_permissions_assistant/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/duo_permissions_assistant/2.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/gitlab_duo_mention_assistant/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/orbit_agent/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/project_activity/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/resolve_sast_vulnerability/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/sast_fp_detection/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/secrets_fp_detection/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/security_review/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/software_development/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/support_assistant/1.0.0.yml
Due: none

fix: concatenate multiple user_rule items instead of overwriting
  duo_workflow_service/agent_platform/experimental/flows/base.py
  duo_workflow_service/agent_platform/v1/flows/base.py
  tests/duo_workflow_service/agent_platform/experimental/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
Due: none

chore(deps): bump uvicorn to 0.51.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

chore(deps): update tree-sitter to ^0.26.0 and replace tree-sitter-languages
  ai_gateway/code_suggestions/processing/ops.py
  ai_gateway/code_suggestions/prompts/parsers/base.py
  ai_gateway/code_suggestions/prompts/parsers/comments.py
  ai_gateway/code_suggestions/prompts/parsers/mixins.py
  ai_gateway/code_suggestions/prompts/parsers/treesitter.py
  ai_gateway/code_suggestions/prompts/parsers/treetraversal.py
  poetry.lock
  pyproject.toml
  tests/code_suggestions/prompts/parsers/test_comments.py
  tests/code_suggestions/prompts/parsers/test_parsers_base.py
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.56.1
  .gitlab-ci.yml
Due: none

fix: widen GLQL pipeline analytics status values to all pipeline states
  agent_tests/analytics_agent/helpers.py
  duo_workflow_service/tools/get_glql_schema.py
Due: none

feat(analytics-agent): add Contributions data source support
  agent_tests/analytics_agent/helpers.py
  agent_tests/analytics_agent/test_type_contributions.py
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent/1.0.0.yml
  duo_workflow_service/tools/get_glql_schema.py
  tests/duo_workflow_service/tools/test_get_glql_schema.py
Due: none

fix(fix_pipeline): Traverse nested child pipelines in fix_pipeline flow
  ai_gateway/prompts/definitions/fix_pipeline_context/system/1.0.0.jinja
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.0.yml
Due: none

Revert "Merge branch 'duo/update/tree-sitter-0.26' into 'main'"
  ai_gateway/code_suggestions/processing/ops.py
  ai_gateway/code_suggestions/prompts/parsers/base.py
  ai_gateway/code_suggestions/prompts/parsers/comments.py
  ai_gateway/code_suggestions/prompts/parsers/mixins.py
  ai_gateway/code_suggestions/prompts/parsers/treesitter.py
  ai_gateway/code_suggestions/prompts/parsers/treetraversal.py
  poetry.lock
  pyproject.toml
  tests/code_suggestions/prompts/parsers/test_comments.py
  tests/code_suggestions/prompts/parsers/test_parsers_base.py
Due: build:duo-agent-image, dependency_check

perf(fix_pipeline): reduce checkout_existing_branch max_tokens to 8192
  ai_gateway/prompts/definitions/fix_pipeline_checkout_existing_branch/base/1.0.0.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.57.0
  .gitlab-ci.yml
Due: none

feat: Add Amazon Bedrock Mantle provider config
  ai_gateway/prompts/registry.py
  tests/prompts/test_registry.py
  tests/test_model_metadata.py
Due: none

chore: add paginated reverse checkpoint iteration to GitLabWorkflow
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

refactor(duo-workflow-service): route stopped-session resume through STOP_RECOVERY signal
  duo_workflow_service/checkpointer/gitlab_workflow.py
  duo_workflow_service/checkpointer/gitlab_workflow_utils.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

feat: Support self-hosted Amazon Bedrock Mantle in diagnostics
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  tests/scripts/test_troubleshoot_selfhosted_installation.py
  tests/test_model_metadata.py
Due: none

chore(deps): update dependency sse-starlette to v3
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(duo-workflow-service): recover stopped Flow sessions at last stable checkpoint boundary
  duo_workflow_service/agent_platform/v1/flows/base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
Due: none

fix: return token usage non-destructively for streamed prompts
  ai_gateway/api/v2/prompts/invoke.py
  ai_gateway/instrumentators/model_requests.py
  lib/context/__init__.py
  lib/context/llm_operations.py
  tests/api/v2/test_v2_prompts.py
  tests/instrumentators/test_model_requests.py
  tests/lib/context/test_llm_operations.py
Due: none

feat(internal-events): attach Duo CLI tracking context to events
  ai_gateway/api/middleware/headers.py
  ai_gateway/api/middleware/internal_event.py
  duo_workflow_service/interceptors/__init__.py
  duo_workflow_service/interceptors/internal_events_interceptor.py
  lib/internal_events/__init__.py
  lib/internal_events/tracking_context.py
  tests/api/middleware/test_internal_event.py
  tests/duo_workflow_service/interceptors/test_internal_events_interceptor.py
  tests/lib/internal_events/test_tracking_context.py
Due: none

docs: add mirroring verification step to security fixes process
  docs/delivery/security_fixes.md
Due: none

fix(tokenizer): update tokenizer types for transformers v5
  ai_gateway/code_suggestions/processing/pre/tokens.py
  ai_gateway/tokenizer.py
Due: none

chore(deps): update dependency transformers to v5
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.58.0
  .gitlab-ci.yml
Due: none

refactor: rename ui_spec → ui_tree in render_ui
  duo_workflow_service/tools/render_ui.py
  duo_workflow_service/tools/render_ui_schema.json
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/tools/test_render_ui.py
Due: none

refactor(duo-workflow-service): decouple checkpoint decode from cache hydration
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

feat(duo-workflow-service): reuse AIMessage id for reasoning UI log entries
  duo_workflow_service/agent_platform/v1/components/agent/nodes/agent_node.py
  duo_workflow_service/agent_platform/v1/components/agent/ui_log.py
  duo_workflow_service/agent_platform/v1/components/one_off/nodes/tool_node_with_error_correction.py
  duo_workflow_service/agent_platform/v1/components/one_off/ui_log.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_agent_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_ui_log.py
  tests/duo_workflow_service/agent_platform/v1/components/one_off/nodes/test_v1_tool_node_with_error_correction.py
  tests/duo_workflow_service/agent_platform/v1/components/one_off/test_v1_one_off_ui_log.py
Due: none

feat(duo-workflow-service): add cancelled-turn delta helpers
  duo_workflow_service/agent_platform/v1/flows/inputs.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_inputs.py
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.59.0
  .gitlab-ci.yml
Due: none

fix(analytics-agent): resolve duplicate orbit_integration block
  agent_tests/analytics_agent/conftest.py
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent/1.0.0.yml
Due: none

feat(resolve-dep-bump): add web search for version-specific breaking changes
  ai_gateway/prompts/definitions/resolve_dep_bump_pipeline_fix/system/1.0.0.jinja
  ai_gateway/prompts/definitions/resolve_dep_bump_pipeline_fix/user/1.0.0.jinja
  duo_workflow_service/agent_platform/experimental/components/agent/component.py
  duo_workflow_service/agent_platform/experimental/flows/configs/resolve_dependency_bump/1.0.0.yml
  duo_workflow_service/agent_platform/v1/components/agent/nodes/agent_node.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/test_component.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_agent_node.py
Due: none

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
