Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

fix(litellm): pass continue_final_message for Mistral models on custom_openai
  ai_gateway/vendor/langchain_litellm/litellm.py
  tests/models/v2/test_chat_litellm.py
Due: none

fix: disable usage quota check when api/token empty
  lib/usage_quota/client.py
  tests/lib/usage_quota/test_client.py
Due: none

feat(model-selection): add Claude Opus 4.8 (Vertex AI) to DAP
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

docs: add emergency expedited deployment runbook
  docs/delivery/emergency_deployment.md
  docs/delivery/index.md
Due: none

fix(fix-pipeline-next): split git commit into DeterministicStep + OneOff
  ai_gateway/prompts/definitions/fix_pipeline_next_commit/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_commit/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_commit/user/1.0.0.jinja
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.0.yml
Due: none

feat(developer): show developer agent reasoning in orbit and unstable flows
  duo_workflow_service/agent_platform/experimental/flows/configs/developer_unstable/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-orbit.yml
Due: none

feat(agent-platform): send initial ui chat log as USER message in chat environments
  duo_workflow_service/agent_platform/v1/flows/base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
Due: none

feat(usage-quota): introduce mock usage quota server
  lib/usage_quota/mock_server.py
  tests/lib/usage_quota/test_mock_server.py
Due: none

fix: allow AGENTS.md to customise the Fix Pipeline commit message
  ai_gateway/prompts/definitions/fix_pipeline_next_commit/system/1.0.0.jinja
Due: none

feat(prompts): add parse_json Jinja2 filter for JSON parsing in templates
  ai_gateway/prompts/base.py
  tests/prompts/test_base.py
Due: none

refactor: remove dead code in base.py
  ai_gateway/api/middleware/base.py
Due: none

fix(fix-pipeline-next): convert create_new_mr to OneOff and drop update_merge_request
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/user/1.0.0.jinja
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/components/one_off/nodes/tool_node_with_error_correction.py
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.0.yml
  duo_workflow_service/tools/merge_request.py
  tests/duo_workflow_service/tools/test_create_merge_request.py
Due: none

docs: add flow debugging guide
  docs/duo_workflow_service.md
Due: none

feat: add a denied tools error prompt
  duo_workflow_service/agents/prompt_adapter.py
  tests/duo_workflow_service/agents/test_prompt_adapter.py
Due: none

feat(usage-quota): connect mock usage quota server to AIGW and DWS
  ai_gateway/app.py
  ai_gateway/config.py
  duo_workflow_service/server.py
  example.env
  lib/usage_quota/container.py
  tests/duo_workflow_service/test_server.py
  tests/lib/usage_quota/test_container.py
  tests/test_app.py
  tests/test_config.py
Due: none

chore(deps): update dependency gitlab-cloud-connector to v3.25.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(model-selection): gate multi default_models behind feature flag
  ai_gateway/model_selection/model_selection_config.py
  lib/feature_flags/context.py
  tests/model_selection/test_model_selection_config.py
Due: none

chore(deps): update dependency langchain-community to v0.4.2
  poetry.lock
Due: build:duo-agent-image, dependency_check

fix: allow direct LLM calls for DAP-related prompts
  ai_gateway/prompts/registry.py
  tests/conftest.py
  tests/prompts/test_registry.py
Due: none

chore(deps): update dependency diff-cover to v10.2.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.40.0
  .gitlab-ci.yml
Due: none

chore(deps): update dependency langchain-openai to v1.2.2
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency tiktoken to ^0.13.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(litellm): send max_completion_tokens for self-hosted GPT-5 models
  ai_gateway/models/v2/chat_litellm.py
  tests/models/v2/test_chat_litellm.py
Due: none

chore(deps): update dependency pytest-asyncio to v1.4.0
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.42.0
  .gitlab-ci.yml
Due: none

fix: Surface user-friendly error when step limit is reached
  duo_workflow_service/agent_platform/experimental/flows/base.py
  duo_workflow_service/agent_platform/v1/flows/base.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/agent_platform/experimental/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

refactor(developer): extract shared developer system prompt into partial
  ai_gateway/prompts/definitions/common/developer/system/1.0.0.jinja
  duo_workflow_service/agent_platform/experimental/flows/configs/developer_unstable/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-orbit.yml
Due: none

fix(filesystem): allow read-only tools to access trusted absolute paths for agent skills
  duo_workflow_service/tools/filesystem.py
  tests/duo_workflow_service/tools/test_filesystem.py
Due: none

refactor: move DAP code review prompt definitions to review_merge_request_dap
  ai_gateway/prompts/definitions/review_merge_request/amazon_q/2.0.0.yml
  ai_gateway/prompts/definitions/review_merge_request/base/2.0.0.yml
  ai_gateway/prompts/definitions/review_merge_request/base/2.1.0.yml
  ai_gateway/prompts/definitions/review_merge_request_dap/amazon_q/1.0.0.yml
  ai_gateway/prompts/definitions/review_merge_request_dap/base/1.0.0.yml
  ai_gateway/prompts/definitions/review_merge_request_dap/base/1.1.0.yml
  ai_gateway/prompts/definitions/review_merge_request_dap/system/1.0.0.jinja
  ai_gateway/prompts/definitions/review_merge_request_dap/system/1.1.0.jinja
  ai_gateway/prompts/definitions/review_merge_request_dap/user/1.0.0.jinja
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/1.0.0.yml
Due: none

feat: add response schema enforcement to Secret FP detection and SAST resolution flows
  ai_gateway/response_schemas/definitions/resolve_sast_evaluate_mr_readiness/base/1.0.0.json
  ai_gateway/response_schemas/definitions/resolve_sast_vulnerability_execution/base/1.0.0.json
  ai_gateway/response_schemas/definitions/secret_fp_detection/base/1.0.0.json
  duo_workflow_service/agent_platform/v1/flows/configs/resolve_sast_vulnerability/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/secrets_fp_detection/1.0.0.yml
Due: none

feat(compaction): add manual mode support to compactor
  ai_gateway/prompts/definitions/conversation_compaction_manual/base/1.0.0.yml
  ai_gateway/prompts/definitions/conversation_compaction_manual/user/1.0.0.jinja
  duo_workflow_service/conversation/compaction/compactor.py
  duo_workflow_service/conversation/compaction/schema.py
  lib/billing_events/service.py
  tests/duo_workflow_service/conversation/compaction/conftest.py
  tests/duo_workflow_service/conversation/compaction/test_compactor.py
  tests/prompts/test_registry.py
Due: none

chore(deps): downgrade litellm to avoid placeholder text bug
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency pytest-rerunfailures to v16.3
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(code-suggestions): v4 code completion improvements
  ai_gateway/code_suggestions/handler.py
  ai_gateway/code_suggestions/processing/post/completions.py
  ai_gateway/model_metadata.py
  tests/api/code_suggestions/test_handler.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
  tests/code_suggestions/processing/post/test_completions.py
  tests/code_suggestions/test_handler.py
  tests/test_model_metadata.py
Due: none

fix: sync use JWT gitlab_realm claim as authoritative realm
  ai_gateway/api/middleware/internal_event.py
  tests/api/middleware/test_internal_event.py
  tests/conftest.py
  tests/lib/usage_quota/test_service.py
Due: none

feat(duo-workflow): expose context window token usage in checkpoints
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/agent_platform/experimental/flows/base.py
  duo_workflow_service/agent_platform/v1/components/agent/component.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/agent_node.py
  duo_workflow_service/agent_platform/v1/components/one_off/component.py
  duo_workflow_service/agent_platform/v1/flows/base.py
  duo_workflow_service/agent_platform/v1/state/base.py
  duo_workflow_service/checkpointer/notifier.py
  duo_workflow_service/conversation/compaction/compactor.py
  duo_workflow_service/conversation/compaction/integration.py
  duo_workflow_service/entities/state.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/nodes/test_final_response_node.py
  tests/duo_workflow_service/agent_platform/experimental/state/test_base.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_agent_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_final_response_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_component.py
  tests/duo_workflow_service/agent_platform/v1/components/one_off/test_v1_one_off_component.py
  tests/duo_workflow_service/agent_platform/v1/state/test_base.py
  tests/duo_workflow_service/checkpointer/test_notifier.py
  tests/duo_workflow_service/conversation/compaction/test_compactor.py
  tests/duo_workflow_service/conversation/compaction/test_integration.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

fix: close Host header bypass (X41-2026-002)
  ai_gateway/api/middleware/__init__.py
  ai_gateway/api/middleware/access_log.py
  ai_gateway/api/middleware/authentication.py
  ai_gateway/api/middleware/distributed_trace.py
  ai_gateway/api/middleware/host_header_validation.py
  ai_gateway/api/middleware/internal_event.py
  ai_gateway/api/server.py
  tests/api/middleware/test_host_header_validation.py
Due: none

feat(developer): add local/interactive chat variant
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-local.yml
Due: none

fix(notifier): prevent trailing task leak in throttle tests
  tests/duo_workflow_service/checkpointer/test_notifier.py
Due: none

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
