Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json

chore: Shim run_git_command to emit RunCommandAction and migrate foundational flows
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/convert_to_gl_ci/1.0.1.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.1.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.1.yml
  duo_workflow_service/agent_platform/v1/flows/configs/resolve_sast_vulnerability/1.0.1.yml
  duo_workflow_service/tools/git.py
  duo_workflow_service/workflows/convert_to_gitlab_ci/workflow.py
  duo_workflow_service/workflows/issue_to_merge_request/workflow.py
  tests/duo_workflow_service/tools/test_git.py
  tests/duo_workflow_service/workflows/convert_to_gitlab_ci/test_convert_to_gitlab_ci_workflow.py
Due: none

fix: update Sonnet 4.5 removal version to 19.4 for Code Review flow
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat(fix-pipeline): Make skipping jobs more granular
  ai_gateway/prompts/definitions/common/fix_pipeline_failure_categories/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_context/system/1.0.0.jinja
  ai_gateway/response_schemas/definitions/fix_pipeline_context/base/1.0.0.json
Due: none

fix(auth): use gitlab_root_namespace_id from JWT claims over request headers
  ai_gateway/api/middleware/internal_event.py
  ai_gateway/api/v1/code/user_access_token.py
  duo_workflow_service/interceptors/authentication_interceptor.py
  duo_workflow_service/interceptors/internal_events_interceptor.py
  lib/jwt/__init__.py
  lib/jwt/root_namespace.py
  tests/api/middleware/test_internal_event.py
  tests/api/v1/test_v1_code.py
  tests/duo_workflow_service/interceptors/test_authentication_interceptor.py
  tests/duo_workflow_service/interceptors/test_internal_events_interceptor.py
  tests/duo_workflow_service/test_server.py
  tests/lib/jwt/__init__.py
  tests/lib/jwt/test_root_namespace.py
Due: none

ci: sign self-hosted-fips release images with cosign
  .gitlab/ci/release.gitlab-ci.yml
  docs/delivery/release.md
Due: none

fix(fix-pipeline): KeyError when a failing pipeline has no merge request
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.1.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.1.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
  tests/duo_workflow_service/agent_platform/v1/routers/test_router.py
Due: none

feat: Accept resume_checkpoint_ts to fork from
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/server.py
  duo_workflow_service/workflows/abstract_workflow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

feat(duo-workflow): carry approval policy provenance (policy_ref) alongside ApprovalSource
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/entities/state.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/entities/test_state.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

chore(deps): update dependency starlette to v1.4.0
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat: gate web search tool on the per-conversation toggle
  duo_workflow_service/agents/chat_agent_factory.py
  duo_workflow_service/gitlab/gitlab_api.py
  duo_workflow_service/gitlab/queries/versioned/19_3_0.graphql
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/agents/test_chat_agent_factory.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

feat(flow-registry): add Flow Creator as a foundational agent
  .editorconfig
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/flow_creator/1.0.0.yml
  tests/duo_workflow_service/agent_platform/test_configs.py
Due: none

feat(models): bind Anthropic web_fetch alongside web_search
  ai_gateway/models/v2/anthropic_claude.py
  tests/models/v2/test_anthropic_claude.py
Due: none

chore(deps): update dependency gitlab-cloud-connector to v3.27.0
  duo_workflow_service/schemas/v1/flow_config.schema.json
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency sse-starlette to v3.4.8
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(contract): add scheduleNotification action
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

chore(fix_pipeline): remove fix_pipeline_next flow
  ai_gateway/prompts/definitions/fix_pipeline_next_add_comment/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_add_comment/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_add_comment/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_checkout_existing_branch/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_checkout_existing_branch/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_checkout_existing_branch/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_code_suggestions/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_code_suggestions/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_code_suggestions/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_context/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_context/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_context/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_create_branch/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_create_branch/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_create_branch/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_create_new_mr/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_decide_fix/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_decide_fix/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_decide_fix/user/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_execution/base/1.0.0.yml
  ai_gateway/prompts/definitions/fix_pipeline_next_execution/system/1.0.0.jinja
  ai_gateway/prompts/definitions/fix_pipeline_next_execution/user/1.0.0.jinja
  ai_gateway/response_schemas/definitions/fix_pipeline_next_context/base/1.0.0.json
  ai_gateway/response_schemas/definitions/fix_pipeline_next_decide_fix/base/1.0.0.json
  docs/duo_workflow_service_graphs.md
  docs/module_boundaries.md
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline_next/1.0.1.yml
  tests/duo_workflow_service/agent_platform/v1/routers/test_router.py
  tests/prompts/test_registry.py
Due: none

fix: add key use_model_max_tokens to use value from models.yml
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/models.yml
  ai_gateway/prompts/registry.py
  tests/prompts/test_registry.py
Due: none

feat(model-selection): add OSS models to models.yml and promote to selectable unit primitives
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat(duo-workflow): add notify_me_when tool
  duo_workflow_service/agent_platform/experimental/flows/configs/developer/1.0.0.yml
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/notify_me_when.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_notify_me_when.py
Due: none

fix(prompts): authenticate provider-backed models in default model validation
  ai_gateway/model_metadata.py
  ai_gateway/prompts/base.py
  tests/prompts/test_base.py
Due: none

feat: add tool governance internal events
  config/events/block_denied_duo_workflow_tool.yml
  config/events/request_duo_workflow_tool_approval.yml
  config/events/resolve_duo_workflow_tool_approval.yml
  duo_workflow_service/agent_platform/experimental/components/agent/component.py
  duo_workflow_service/agent_platform/experimental/components/agent/nodes/tool_approval_request_node.py
  duo_workflow_service/agent_platform/utils/tool_event_tracker.py
  duo_workflow_service/agent_platform/v1/components/agent/component.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/tool_approval_fetch_node.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/tool_approval_request_node.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/tool_node.py
  duo_workflow_service/agent_platform/v1/components/supervisor/component.py
  duo_workflow_service/agents/chat_agent.py
  duo_workflow_service/agents/chat_agent_factory.py
  duo_workflow_service/agents/tools_executor.py
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/toolset.py
  duo_workflow_service/tracking/tool_governance.py
  duo_workflow_service/workflows/chat/workflow.py
  lib/internal_events/event_enum.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/conftest.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/test_component.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/conftest.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_tool_approval_fetch_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_tool_approval_request_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_tool_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_component.py
  tests/duo_workflow_service/agent_platform/v1/components/supervisor/test_tool_approval.py
  tests/duo_workflow_service/agents/test_chat_agent.py
  tests/duo_workflow_service/agents/test_chat_agent_factory.py
  tests/duo_workflow_service/agents/test_tools_executor.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_toolset.py
  tests/duo_workflow_service/tracking/test_tool_governance.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

test: add missing tests for default cache control logic
  tests/prompts/test_caching.py
Due: none

chore: non-unique error for validation
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_server.py
Due: none

fix(duo-workflow): make OpenAI reasoning/verbosity configurable per model and prompt
  ai_gateway/model_selection/models.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/config/base.py
  ai_gateway/prompts/container.py
  ai_gateway/prompts/definitions/chat/agent/gpt_5/1.0.0.yml
  ai_gateway/prompts/definitions/chat/agent/gpt_5/1.0.1.yml
  ai_gateway/prompts/in_memory_registry.py
  duo_workflow_service/agent_platform/v1/flows/configs/agentic_chat/1.0.0.yml
  duo_workflow_service/schemas/v1/flow_config.schema.json
  tests/duo_workflow_service/integration/test_agentic_chat_provider_params.py
  tests/model_selection/test_models.py
  tests/prompts/test_base.py
  tests/prompts/test_container.py
  tests/prompts/test_in_memory_registry.py
Due: none

fix: preserve existing reviewers in DAP reviewer assignment
  ai_gateway/prompts/definitions/recommend_reviewers_assign/system/1.0.0.jinja
  ai_gateway/prompts/definitions/recommend_reviewers_assign/user/1.0.0.jinja
  duo_workflow_service/agent_platform/v1/flows/configs/recommend_reviewers/1.0.0.yml
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/graphql_queries/__init__.py
  duo_workflow_service/graphql_queries/tools_queries/set_reviewers.graphql
  duo_workflow_service/tools/merge_request.py
  duo_workflow_service/tools/queries/merge_requests.py
  duo_workflow_service/tools/version_compatibility.py
  duo_workflow_service/tools/work_items/queries/graphql_queries/__init__.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/test_graphql_queries.py
  tests/duo_workflow_service/tools/test_add_merge_request_reviewers.py
Due: none

chore: remove redundant integration test fixture
  tests/duo_workflow_service/integration/test_agentic_chat_provider_params.py
Due: none

fix: blob every channel in the incremental checkpoint delta
  docs/incremental_checkpoints.md
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

fix: full-replace a dict channel that drops a key
  docs/incremental_checkpoints.md
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

fix: add create_issue and update_issue tools to interactive developer flow
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-interactive.yml
Due: none

feat(prompts): log effective LLM request timeout and retry backoff
  ai_gateway/models/base.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/in_memory_registry.py
  tests/models/test_base.py
  tests/prompts/test_base.py
  tests/prompts/test_in_memory_registry.py
Due: none

chore(codeowners): Consolidate maintainer groups into one
  .gitlab/CODEOWNERS
  docs/maintainership.md
Due: none

feat: add Gemini 3.7 Flash to DAP
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/models/v2/chat_google_genai.py
  tests/ai_gateway/models/v2/test_chat_google_genai_temperature.py
Due: none

fix(model-metadata): reject client endpoint for managed Vertex/Bedrock
  ai_gateway/model_metadata.py
  ai_gateway/models/v2/chat_litellm.py
  ai_gateway/prompts/base.py
  tests/ai_gateway/models/v2/test_chat_litellm_ssrf.py
  tests/test_model_metadata.py
Due: none

perf(duo-workflow): drop the full checkpoint under write_incremental_only
  docs/incremental_checkpoints.md
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

feat(checkpointer): read checkpoints via by_thread_ts endpoint
  duo_workflow_service/checkpointer/gitlab_workflow.py
  duo_workflow_service/errors/typing.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

chore(deps): update dependency numpy to v2.5.2
  poetry.lock
Due: build:duo-agent-image, dependency_check

fix(models): keep the endpoint allowlist for trusted providers
  ai_gateway/models/base.py
  tests/ai_gateway/models/v2/test_chat_litellm_ssrf.py
  tests/models/test_base.py
Due: none

fix(fix-pipeline): Ensure MR author is assigned to new MR
  ai_gateway/prompts/definitions/fix_pipeline_create_new_mr/base/1.0.2.yml
  ai_gateway/prompts/definitions/fix_pipeline_create_new_mr/system/1.0.2.jinja
  ai_gateway/prompts/definitions/fix_pipeline_create_new_mr/user/1.0.2.jinja
  ai_gateway/prompts/definitions/fix_pipeline_new_mr_comment/base/1.0.2.yml
  ai_gateway/prompts/definitions/fix_pipeline_new_mr_comment/system/1.0.2.jinja
  ai_gateway/prompts/definitions/fix_pipeline_new_mr_comment/user/1.0.2.jinja
  docs/duo_workflow_service_graphs.md
  docs/flow_registry/index.md
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.1.yml
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.2.yml
  tests/duo_workflow_service/agent_platform/test_configs.py
Due: none

feat(flow-registry): add goal-driven developer flow with adversarial verifier
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-goal.yml
  lints/file_naming_for_tests.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_developer_goal_config.py
Due: none

chore(deps): update dependency openai to v2.53.0
  poetry.lock
Due: build:duo-agent-image, dependency_check
