Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

fix(code-suggestions): tune completion prompts for self-hosted models
  ai_gateway/model_selection/models.py
  ai_gateway/models/v2/chat_litellm.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/config/base.py
  ai_gateway/prompts/definitions/code_suggestions/completions/base/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codegemma/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codellama/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codestral/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/deepseekcoder/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/gpt/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mistral/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/qwen2p5-coder-7b/1.0.0.yml
  ai_gateway/prompts/definitions/model_configuration/check/base/1.0.0.yml
  ai_gateway/prompts/in_memory_registry.py
  docs/flow_registry/v1.md
  duo_workflow_service/schemas/v1/flow_config.schema.json
  lib/prompts/utilities.py
  tests/conftest.py
  tests/lib/prompts/test_utilities.py
  tests/models/v2/test_chat_litellm.py
  tests/prompts/test_base.py
  tests/prompts/test_in_memory_registry.py
Due: none

fix(tools): Fix Pydantic validation error for params / variables in gitlab_api_generic tools
  duo_workflow_service/tools/gitlab_api_generic.py
  tests/duo_workflow_service/tools/test_gitlab_api_generic.py
Due: none

fix(code-suggestions): drop completions that repeat the code after the cursor
  ai_gateway/code_suggestions/processing/post/completions.py
  ai_gateway/code_suggestions/processing/post/ops.py
  tests/code_suggestions/post_processing/test_other_ops.py
  tests/code_suggestions/post_processing/test_post_processor_completions.py
  tests/duo_workflow_service/tools/test_gitlab_api_generic.py
Due: none

fix: Reformat tests/duo_workflow_service/tools/test_gitlab_api_generic.py
  tests/duo_workflow_service/tools/test_gitlab_api_generic.py
Due: none

docs: document explicit AIContext parameter for track_event
  docs/internal_events.md
Due: none

Restore .github directory after GitLab sync
  .github/workflows/mirror-gitlab.yml
Due: none

fix(fix_pipeline): stop experimental flow rewriting MR branch history
  ai_gateway/prompts/definitions/fix_pipeline_experiment/system/1.0.0.jinja
Due: none

chore(deps): update dependency sse-starlette to v3.4.11
  poetry.lock
Due: build:duo-agent-image, dependency_check

docs(agents): distill !6961 session traces into agent guidance
  AGENTS.md
Due: none

fix(duo-workflow): render every structured tool_response as a string
  duo_workflow_service/agents/tools_executor.py
  duo_workflow_service/conversation/history_optimizer/optimizers/_compaction_utils.py
  duo_workflow_service/conversation/history_optimizer/optimizers/compaction.py
  duo_workflow_service/entities/image_blocks.py
  duo_workflow_service/entities/state.py
  tests/duo_workflow_service/agents/test_chat_agent.py
  tests/duo_workflow_service/agents/test_tools_executor.py
  tests/duo_workflow_service/checkpointer/test_notifier.py
  tests/duo_workflow_service/conversation/history_optimizer/optimizers/test__compaction_utils.py
  tests/duo_workflow_service/entities/test_image_blocks.py
  tests/duo_workflow_service/entities/test_server_tool_blocks.py
  tests/duo_workflow_service/entities/test_state.py
  tests/duo_workflow_service/ui_chat_log_contract.py
Due: none

refactor(agent-platform): share default_features_dir across feature discovery
  ai_gateway/prompts/feature_roots.py
  duo_workflow_service/agent_platform/serving_surface.py
  duo_workflow_service/agent_platform/v1/flows/flow_config.py
  duo_workflow_service/components/tools_registry.py
  lib/feature_roots.py
  tests/duo_workflow_service/agent_platform/test_configs.py
  tests/duo_workflow_service/agent_platform/test_serving_surface.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config_feature_roots.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/lib/test_feature_roots.py
  tests/prompts/test_feature_roots.py
Due: none

feat(anthropic): send facilitator key on Anthropic API requests
  ai_gateway/README.md
  ai_gateway/config.py
  ai_gateway/models/base.py
  ai_gateway/models/v2/anthropic_claude.py
  ai_gateway/proxy/clients/anthropic.py
  duo_workflow_service/README.md
  example.env
  tests/models/conftest.py
  tests/models/test_base.py
  tests/models/v2/test_anthropic_claude.py
  tests/proxy/clients/test_anthropic.py
  tests/test_config.py
Due: none

docs: add model routing architecture design document
  docs/model_routing/decisions/adr-001-in-process-routing-layer.md
  docs/model_routing/decisions/adr-002-composition-precedence.md
  docs/model_routing/decisions/adr-003-keyword-signal-vllm-sr-schema.md
  docs/model_routing/decisions/adr-004-decision-carries-inference-params.md
  docs/model_routing/index.md
  docs/model_selection.md
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.66.0
  .gitlab-ci.yml
Due: none

docs(agents): warn against blocking shell calls with long sleeps
  AGENTS.md
Due: none

feat(code-suggestions): accept direct connection tokens on v4 completions
  ai_gateway/api/v4/code/typing.py
  ai_gateway/code_suggestions/handler.py
  ai_gateway/model_metadata.py
  config/events/request_amazon_q_integration_generate_code.yml
  tests/api/code_suggestions/test_handler.py
  tests/api/v4/test_v4_code.py
  tests/code_suggestions/test_handler.py
Due: none

fix(duo-workflow): flush audit events when approaching the 4MB gRPC limit
  duo_workflow_service/audit_events/collector.py
  duo_workflow_service/tracking/duo_workflow_metrics.py
  tests/duo_workflow_service/audit_events/test_collector.py
Due: none

chore: re-enable start_flow delegation in the Slack assistant
  duo_workflow_service/agent_platform/v1/flows/configs/slack_assistant/1.0.0.yml
Due: none

fix(chat-engine): add on_agent_reasoning to the ui_log_events floor
  docs/flow_registry/chat_engine.md
  duo_workflow_service/agent_platform/v1/chat_engine/normalization.py
  tests/duo_workflow_service/agent_platform/v1/chat_engine/test_normalization.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_component.py
Due: none

chore(deps): update dependency botocore to v1.43.94
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore: use newer documentation linting tools in project
  .gitlab-ci.yml
  .markdownlint-cli2.yaml
  .tool-versions
  docs/.vale/gitlab_base/AlertFormat.yml
  docs/.vale/gitlab_base/BoldEmphasis.yml
  docs/.vale/gitlab_base/British.yml
  docs/.vale/gitlab_base/ListIndentation.yml
  docs/.vale/gitlab_base/OutdatedVersions.yml
  docs/.vale/gitlab_base/OxfordComma.yml
  docs/.vale/gitlab_base/PossessiveProperNouns.yml
  docs/.vale/gitlab_base/ReadingLevel.yml
  docs/.vale/gitlab_base/Repetition.yml
  docs/.vale/gitlab_base/SubstitutionWarning.yml
  docs/.vale/gitlab_base/Substitutions.yml
  docs/.vale/gitlab_base/Uppercase.yml
  docs/.vale/gitlab_base/spelling-exceptions.txt
  docs/adding_new_tool.md
  docs/auth.md
  docs/delivery/emergency_deployment.md
  docs/delivery/release.md
  docs/delivery/security_fixes.md
  docs/duo_workflow_service_monitoring.md
  docs/flow_registry/contribution_guidelines.md
  docs/flow_registry/index.md
  docs/flow_registry/v1.md
  docs/incremental_checkpoints.md
  docs/litellm_model_metadata.md
  docs/maintainership.md
  docs/module_boundaries.md
  docs/performance_testing/performance_profiling.md
  docs/performance_testing/profiling_with_llm_caching_proxy.md
  docs/workflows/agentic_mock.md
  docs/workflows/convert_to_gitlab_ci.md
  docs/workflows/issue_to_mr.md
  docs/workflows/project_activity.md
Due: none

chore(code_review): remove the 2.0.0-dev flow config alias
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/2.0.0-dev.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_code_review_config.py
Due: none

chore: remove agentic_foundational_flow_tool feature flag
  ai_gateway/prompts/definitions/chat/agent/partials/system_static/1.0.0.jinja
  ai_gateway/prompts/definitions/chat/agent/partials/system_static/gpt_5/1.0.0.jinja
  duo_workflow_service/agent_platform/v1/flows/configs/agentic_chat/1.0.0.yml
  duo_workflow_service/agents/prompt_adapter.py
  duo_workflow_service/workflows/chat/workflow.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/agents/test_prompt_adapter.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

refactor(flows): store catalog-fetched agents under ai/foundational_agents
  .dockerignore
  .gitignore
  Dockerfile
  ai/features/foundational_agents/.gitkeep
  ai/features/foundational_agents/README.md
  docker/fips/Dockerfile
  docs/flow_registry/index.md
  docs/module_boundaries.md
  duo_workflow_service/scripts/fetch_foundational_agents.py
  performance_tests/stress_tests/README.md
  tests/duo_workflow_service/scripts/test_fetch_foundational_agents.py
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.67.0
  .gitlab-ci.yml
Due: none

feat: add Claude Opus 5.5 on Anthropic, Vertex and Bedrock
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore(deps): update dependency boto3 to v1.43.94
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat: add GPT-6 Sol and GPT-6 Luna models
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

fix(code-review): force a tool call on the publish step
  ai_gateway/prompts/registry.py
  docs/flow_registry/v1.md
  duo_workflow_service/agent_platform/v1/components/one_off/component.py
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/2.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/components/one_off/test_v1_one_off_component.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_code_review_config.py
  tests/prompts/test_registry.py
Due: none

feat(mcp): skip the approval gate for client-injected MCP tools
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/gitlab/gitlab_api.py
  duo_workflow_service/gitlab/queries/versioned/19_3_0.graphql
  duo_workflow_service/tools/mcp_tools.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_mcp_tools.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

chore(deps): update dependency urllib3 to v2.8.0
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(model-selection): add requires_paid_credits model attribute
  ai_gateway/api/v1/models/get_definitions.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/models.yml
  docs/model_selection.md
  tests/api/v1/models/test_get_definitions.py
Due: none

feat(model-selection): support Claude thinking via prompt_params
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/prompts/base.py
  docs/model_selection.md
  duo_workflow_service/schemas/v1/flow_config.schema.json
  tests/prompts/test_base.py
Due: none

feat(duo-chat): show web search tool call for LiteLLM models
  ai_gateway/vendor/langchain_litellm/litellm.py
  tests/models/v2/test_chat_litellm.py
Due: none

fix(amazon-q): log the token authority response on exchange failure
  ai_gateway/integrations/amazon_q/client.py
  tests/integrations/amazon_q/test_q_client.py
Due: none

feat(model-selection): mark missed expensive models as requiring paid credits
  ai_gateway/model_selection/models.yml
Due: none

fix(deps): bump transitive tornado to 6.5.10 in lockfile
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency sentry-sdk to v2.69.2
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency starlette to v1.7.0
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(duo-workflow): make tool output truncation image-block safe
  duo_workflow_service/entities/image_blocks.py
  duo_workflow_service/tools/tool_output_manager.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_tool_node.py
  tests/duo_workflow_service/entities/test_image_blocks.py
  tests/duo_workflow_service/tools/test_tool_output_manager.py
Due: none

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
