Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json

feat: support Vertex AI for SHM
  ai_gateway/model_metadata.py
  ai_gateway/models/base.py
  tests/models/test_base.py
  tests/test_model_metadata.py
Due: none

chore(deps): update dependency fastapi to ^0.133.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

refactor: add override annotations to ai_gateway internal overrides
  ai_gateway/api/v2/code/model_provider_handlers.py
  ai_gateway/chat/toolset.py
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/code_suggestions/processing/post/completions.py
  ai_gateway/code_suggestions/processing/post/generations.py
  ai_gateway/code_suggestions/processing/pre/prefix_based.py
  ai_gateway/code_suggestions/processing/pre/tokens.py
  ai_gateway/code_suggestions/prompts/parsers/blocks.py
  ai_gateway/code_suggestions/prompts/parsers/comments.py
  ai_gateway/code_suggestions/prompts/parsers/context_extractors.py
  ai_gateway/code_suggestions/prompts/parsers/counters.py
  ai_gateway/code_suggestions/prompts/parsers/function_signatures.py
  ai_gateway/code_suggestions/prompts/parsers/imports.py
  ai_gateway/code_suggestions/prompts/parsers/treesitter.py
  ai_gateway/code_suggestions/prompts/prompt.py
  ai_gateway/integrations/amazon_q/errors.py
  ai_gateway/model_metadata.py
  ai_gateway/models/agent_model.py
  ai_gateway/models/amazon_q.py
  ai_gateway/models/anthropic.py
  ai_gateway/models/base.py
  ai_gateway/models/litellm.py
  ai_gateway/models/v2/chat_google_genai.py
  ai_gateway/models/vertex_text.py
  ai_gateway/prompts/registry.py
  ai_gateway/proxy/clients/anthropic.py
  ai_gateway/proxy/clients/openai.py
  ai_gateway/proxy/clients/vertex_ai.py
  ai_gateway/searches/search.py
  ai_gateway/searches/sqlite_search.py
  ai_gateway/tracking/snowplow.py
Due: none

feat: Add Sonnet 4.6 on Vertex
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore: cleanup unused factories
  ai_gateway/async_dependency_resolver.py
  ai_gateway/code_suggestions/container.py
  tests/code_suggestions/test_container.py
Due: none

refactor(duo-workflow): migrate tool.arun to tool.ainvoke
  duo_workflow_service/agent_platform/experimental/components/agent/nodes/tool_node.py
  duo_workflow_service/agent_platform/experimental/components/deterministic_step/nodes/deterministic_step_node.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/tool_node.py
  duo_workflow_service/agent_platform/v1/components/deterministic_step/nodes/deterministic_step_node.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/conftest.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/nodes/test_tool_node.py
  tests/duo_workflow_service/agent_platform/experimental/components/deterministic_step/nodes/test_deterministic_step_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/conftest.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_tool_node.py
  tests/duo_workflow_service/agent_platform/v1/components/deterministic_step/nodes/test_v1_deterministic_step_node.py
Due: none

chore: remove gke deployment
  .gitlab-ci.yml
  .runway/ai-gateway-gke/default-values.yaml
  .runway/ai-gateway-gke/gke-service-production.yaml
  .runway/ai-gateway-gke/gke-service-staging.yaml
Due: none

feat: Request development (MR) data on project/group work items
  duo_workflow_service/graphql_queries/tools_queries/get_project_work_item.graphql
  duo_workflow_service/tools/work_items/base_tool.py
  duo_workflow_service/tools/work_items/version_compatibility.py
  tests/duo_workflow_service/tools/work_items/test_base_tool.py
  tests/duo_workflow_service/tools/work_items/test_version_compatibility.py
Due: none

fix: agentic chat llm error is not correctly translated to grpc status
  duo_workflow_service/agents/chat_agent.py
  duo_workflow_service/errors/typing.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/agents/test_chat_agent.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

chore: release new version of grpc
  clients/node/package-lock.json
  clients/node/package.json
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
Due: publish-node-client, check-proto-ruby, check-proto-node

chore: bump the version of runwayctl to v4.18.2
  .gitlab-ci.yml
Due: none

chore(deps): update linting tools
  duo_workflow_service/agent_platform/experimental/state/base.py
  duo_workflow_service/agent_platform/v1/state/base.py
  duo_workflow_service/checkpointer/gitlab_workflow.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/models/test_anthropic.py
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency pytest to v9
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

chore: revert bump runwayctl to 4.18.2
  .gitlab-ci.yml
  .runway/duo-workflow-svc-eks/default-values.yaml
Due: none

feat(dws-loadtest): bump runwayctl to 4.18.3
  .gitlab-ci.yml
Due: none

feat: add GPT 5.2 Codex and 5.3 Codex to DAP and agentic chat
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

chore: remove support for ASDF
  README.md
Due: none

Restore .github directory after GitLab sync
  .github/workflows/mirror-gitlab.yml
Due: none

fix: use false positive likelihood consistently
  ai_gateway/prompts/definitions/sast_fp_detection_agent_prompt/user/1.0.0.jinja
Due: none

feat(runwayctl): bump all remaining workloads to v4.18.3
  .gitlab-ci.yml
  .runway/duo-workflow-svc-eks/default-values.yaml
Due: none

fix: restore correct EKS AIGW GCP project
  .runway/ai-gateway-eks/eks-service-production.yaml
Due: none

chore: Change DWS on EKS GCP project
  .runway/duo-workflow-svc-eks/eks-service-production.yaml
Due: none

feat(runwayctl): bump all workloads to v4.18.4
  .gitlab-ci.yml
Due: none

Revert "Merge branch 'ypark/main/fix-retry' into 'main'"
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(duo-workflow): normalize GraphQL queries to prevent parser-differential mutation bypass
  duo_workflow_service/tools/gitlab_api_generic.py
  tests/duo_workflow_service/tools/test_gitlab_api_generic.py
Due: none

feat: Add SRT to the duo-agent docker image
  docker/agent/Dockerfile
Due: build:duo-agent-image

refactor: only queue health checks once per model
  ai_gateway/prompts/base.py
  tests/prompts/test_base.py
Due: none

chore: switching fireworks health to the default model codestral-2501
  ai_gateway/api/monitoring.py
  tests/api/test_monitoring.py
Due: none

fix: restore deleted prompts still used by clients
  ai_gateway/prompts/definitions/generate_commit_message/base/1.1.0.yml
  ai_gateway/prompts/definitions/generate_commit_message/base/1.2.0.yml
Due: none

feat: change title of MR created by Fix Pipeline flow
  ai_gateway/prompts/definitions/fix_pipeline_push_changes/user/1.0.0.jinja
Due: none

chore(deps): update dependency graphql-core to v3.2.7
  poetry.lock
Due: build:duo-agent-image, dependency_check

style: Fix pylint errors in test_react
  tests/chat/agents/test_react.py
Due: none

chore(deps): update dependency isort to v8.0.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore: remove redundant usage quota check
  duo_workflow_service/interceptors/route/usage_quota.py
  duo_workflow_service/server.py
  tests/duo_workflow_service/interceptors/route/test_usage_quota.py
Due: none

refactor: link prompt with internal events client on registry.get
  ai_gateway/prompts/base.py
  ai_gateway/prompts/in_memory_registry.py
  ai_gateway/prompts/registry.py
  tests/prompts/test_base.py
  tests/prompts/test_in_memory_registry.py
  tests/prompts/test_model_class_provider_override.py
  tests/prompts/test_registry.py
Due: none

chore: remove references to deprecated claude 2/3 models
  AGENTS.md
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/chat/typing.py
  ai_gateway/api/v1/x_ray/typing.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/models/anthropic.py
  ai_gateway/models/litellm.py
  ai_gateway/prompts/definitions/chat/agent/base/1.0.0.yml
  ai_gateway/prompts/definitions/chat/agent/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/agent/claude_3/1.0.1.yml
  ai_gateway/prompts/definitions/chat/agent/claude_4_5/1.0.0.yml
  ai_gateway/prompts/definitions/chat/agent/claude_4_5/1.0.1.yml
  ai_gateway/prompts/definitions/chat/agent/partials/system_static/1.0.0.jinja
  ai_gateway/prompts/definitions/chat/agent/partials/system_static/claude_3/1.0.0.jinja
  ai_gateway/prompts/definitions/chat/fix_code/claude_3/1.1.0.yml
  ai_gateway/prompts/definitions/chat/refactor_code/gpt/1.2.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/base/1.0.0.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/user/1.0.0.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/workflow/create_branch/claude_3/1.0.0.yml
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  ai_gateway/x_ray/container.py
  eval/main.py
  example.env
  tests/api/middleware/test_model_config.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v2/test_v2_mocks.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
  tests/chat/test_container.py
  tests/code_suggestions/test_container.py
  tests/models/test_anthropic.py
  tests/models/test_litellm.py
Due: none

feat(dws): allow unauthenticated health checks
  duo_workflow_service/interceptors/authentication_interceptor.py
  tests/duo_workflow_service/interceptors/test_authentication_interceptor.py
Due: none

feat(dws): add health check
  duo_workflow_service/interceptors/authentication_interceptor.py
  duo_workflow_service/interceptors/monitoring_interceptor.py
  duo_workflow_service/server.py
  example.env
  poetry.lock
  pyproject.toml
  tests/duo_workflow_service/interceptors/test_authentication_interceptor.py
  tests/duo_workflow_service/test_server.py
Due: build:duo-agent-image, dependency_check

chore(refactor): code review improvements
  duo_workflow_service/interceptors/__init__.py
  duo_workflow_service/interceptors/authentication_interceptor.py
  duo_workflow_service/interceptors/monitoring_interceptor.py
  duo_workflow_service/server.py
  tests/duo_workflow_service/interceptors/test_authentication_interceptor.py
Due: none
