Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

feat(workplan): dedupe question comments and notify one person per comment
  ai_gateway/prompts/definitions/workplan/partials/asking_a_question/1.0.0.jinja
  ai_gateway/response_schemas/definitions/workplan_decision/base/1.0.0.json
  ai_gateway/response_schemas/definitions/workplan_research_decision/base/1.0.0.json
  duo_workflow_service/agent_platform/v1/flows/configs/workplan/1.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_workplan_config.py
Due: none

feat(duo-workflow): send LangChain spans to Sentry for streaming RPCs
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  duo_workflow_service/checkpointer/notifier.py
  duo_workflow_service/interceptors/monitoring_interceptor.py
  duo_workflow_service/server.py
  duo_workflow_service/tracking/sentry_error_tracking.py
  example.env
  tests/conftest.py
  tests/duo_workflow_service/checkpointer/test_notifier.py
  tests/duo_workflow_service/interceptors/test_monitoring_interceptor.py
  tests/duo_workflow_service/tracking/test_sentry_error_tracking.py
Due: none

feat(code-review): post advanced review findings as JSON
  duo_workflow_service/tools/code_review/post_duo_code_review_findings.py
  tests/duo_workflow_service/tools/code_review/test_post_duo_code_review_findings.py
Due: none

feat(agent-platform): allow auto tool choice for response-schema agents
  duo_workflow_service/agent_platform/v1/components/agent/component.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/agent_node.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_agent_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_component.py
Due: none

fix(caproni): honour a non-default GitLab port and gitlab's mise toolchain in edit-mode hooks
  .gitlab/caproni/setup-ai-gateway.sh
  .gitlab/caproni/wait-for-gitlab.sh
Due: none

chore(deps): update dependency langsmith to ^0.12.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(events): Fix OpenAI cache token underreporting
  ai_gateway/vendor/langchain_litellm/litellm.py
  tests/models/v2/test_chat_litellm.py
Due: none

feat(internal-events): add explicit AIContext parameter to track_event
  ai_gateway/instrumentators/model_requests.py
  duo_workflow_service/agent_platform/experimental/routers/router.py
  duo_workflow_service/agent_platform/v1/routers/router.py
  lib/internal_events/__init__.py
  lib/internal_events/client.py
  tests/duo_workflow_service/agent_platform/experimental/routers/test_router.py
  tests/duo_workflow_service/agent_platform/v1/routers/test_router.py
  tests/instrumentators/test_model_requests.py
  tests/lib/internal_events/test_client.py
Due: none

feat(agent-platform): add end_line spans to advanced code review findings
  ai_gateway/prompts/definitions/advanced_code_review_reviewer/system/1.0.0.jinja
  ai_gateway/response_schemas/definitions/code_review_phase_findings/base/1.0.0.json
  duo_workflow_service/tools/code_review/post_duo_code_review_findings.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_advanced_code_review_config.py
  tests/duo_workflow_service/tools/code_review/test_post_duo_code_review_findings.py
Due: none

fix: add refusal to LLMFinishReason
  lib/context/request_metadata.py
  tests/lib/context/test_request_metadata.py
Due: none

fix(danger): scope reviewer roulette rows on team tags
  Dangerfile
  danger/roulette/Dangerfile
Due: none

fix(dws): bind workflow tokens to foundational flows
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_server.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

fix: accept label names in work item tools
  duo_workflow_service/graphql_queries/tools_queries/get_group_labels.graphql
  duo_workflow_service/graphql_queries/tools_queries/get_project_labels.graphql
  duo_workflow_service/tools/version_compatibility.py
  duo_workflow_service/tools/work_item.py
  duo_workflow_service/tools/work_items/base_tool.py
  duo_workflow_service/tools/work_items/queries/graphql_queries/__init__.py
  duo_workflow_service/tools/work_items/queries/work_items.py
  tests/duo_workflow_service/tools/test_version_compatibility.py
  tests/duo_workflow_service/tools/work_items/test_base_tool.py
  tests/duo_workflow_service/tools/work_items/test_update_work_item.py
Due: none

fix(server): drain in-flight workflows on SIGTERM instead of tearing down the event loop under them
  duo_workflow_service/interceptors/monitoring_interceptor.py
  duo_workflow_service/server.py
  duo_workflow_service/workflows/type_definitions.py
  example.env
  tests/duo_workflow_service/interceptors/test_monitoring_interceptor.py
  tests/duo_workflow_service/test_server.py
Due: none

chore(agent-platform): drop the dead response_schema_tool_choice config key
  duo_workflow_service/agent_platform/v1/flows/configs/advanced_code_review/1.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_advanced_code_review_config.py
Due: none

feat(duo-workflow): add falsifier evaluator to readiness score flow
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/readiness_score/1.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_readiness_score_config.py
Due: none

feat(custom-models): forward instance-local user ID header to custom model endpoints
  ai_gateway/api/middleware/request_metadata.py
  ai_gateway/config.py
  ai_gateway/models/container.py
  ai_gateway/models/litellm.py
  ai_gateway/models/user_identity_header.py
  ai_gateway/models/v2/chat_litellm.py
  ai_gateway/models/v2/completion_litellm.py
  ai_gateway/models/v2/container.py
  ai_gateway/models/v2/embedding_litellm.py
  duo_workflow_service/interceptors/metadata_context_interceptor.py
  example.env
  lib/context/__init__.py
  lib/context/request_metadata.py
  tests/api/middleware/test_request_metadata.py
  tests/conftest.py
  tests/duo_workflow_service/interceptors/test_metadata_context_interceptor.py
  tests/models/test_litellm.py
  tests/models/test_user_identity_header.py
  tests/models/v2/test_chat_litellm.py
  tests/models/v2/test_completion_litellm.py
  tests/models/v2/test_container.py
  tests/models/v2/test_embedding_litellm.py
  tests/test_config.py
Due: none

perf(code-review): skip discussion fetch on the first review
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/2.0.0-dev.yml
Due: none

fix(code-review): treat an all-resolved re-review as a clean review
  ai_gateway/prompts/definitions/review_merge_request_dap/system/2.0.0-dev.jinja
Due: none

refactor(code-review): move re-review prompt blocks into shared includes
  ai_gateway/prompts/definitions/common/code_review_previous_review/1.0.0.jinja
  ai_gateway/prompts/definitions/common/code_review_previous_review_rules/1.0.0.jinja
  ai_gateway/prompts/definitions/common/code_review_reconciliation/1.0.0.jinja
  ai_gateway/prompts/definitions/common/code_review_scope_handling/1.0.0.jinja
  ai_gateway/prompts/definitions/review_merge_request_dap/system/2.0.0-dev.jinja
Due: none

feat(agent_platform): gate workspace agents on the dap_workspace_agents flag
  docs/flow_registry/v1.md
  duo_workflow_service/agent_platform/v1/catalog/binding.py
  duo_workflow_service/agent_platform/v1/catalog/sources/__init__.py
  duo_workflow_service/agent_platform/v1/catalog/sources/base.py
  duo_workflow_service/agent_platform/v1/catalog/sources/workspace_agent.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/agent_platform/conftest.py
  tests/duo_workflow_service/agent_platform/test_configs.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/test_registry.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/test_workspace_agent.py
  tests/duo_workflow_service/agent_platform/v1/catalog/test_binding.py
Due: none

fix(agent-platform): clarify autonomous task completion
  ai_gateway/prompts/definitions/common/developer/system/1.0.0.jinja
Due: none

fix(duo-workflow): trim ui_chat_log at compaction in incremental-only mode
  docs/context_management/compaction.md
  docs/incremental_checkpoints.md
  duo_workflow_service/agent_platform/v1/components/agent/component.py
  duo_workflow_service/agent_platform/v1/components/agent/nodes/agent_node.py
  duo_workflow_service/agent_platform/v1/flows/inputs.py
  duo_workflow_service/agents/agent.py
  duo_workflow_service/agents/chat_agent.py
  duo_workflow_service/checkpointer/gitlab_workflow.py
  duo_workflow_service/checkpointer/write_mode.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_agent_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_compile_as_subagent.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_inputs.py
  tests/duo_workflow_service/agents/test_agent.py
  tests/duo_workflow_service/agents/test_chat_agent.py
  tests/duo_workflow_service/checkpointer/test_write_mode.py
  tests/duo_workflow_service/conftest.py
Due: none

perf(ci): start source-only scanners without waiting on the build
  .gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

refactor: include tokens usage info in EmbeddingLiteLLM result
  ai_gateway/models/v2/embedding_litellm.py
  tests/conftest.py
  tests/models/v2/test_embedding_litellm.py
Due: none

fix(code-suggestions): send the Snowplow event on v3 and v4
  ai_gateway/code_suggestions/handler.py
  tests/code_suggestions/test_handler.py
Due: none

feat(serving): feature-owned serving-surface declarations, baseline
  ai/features/cli/glab_ask_git_command/serving.py
  duo_workflow_service/agent_platform/serving_surface.py
  tests/duo_workflow_service/agent_platform/test_serving_surface.py
Due: none

chore(deps): update dependency lxml to v6.1.3
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency pytest-randomly to v5
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency tiktoken to ^0.14.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(dws): bind workflow tokens to inline flow configs
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/server.py
  duo_workflow_service/server_capabilities.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/test_server_capabilities.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

chore(deps): update dependency pytest-rerunfailures to v16.6.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

perf(tests): measure coverage with sys.monitoring instead of the C tracer
  docs/tests.md
  pyproject.toml
Due: build:duo-agent-image

feat(duo-workflow): add cross-examination round to readiness score flow
  ai_gateway/response_schemas/definitions/rs_verdict_result/base/1.0.0.json
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/readiness_score/1.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_readiness_score_config.py
Due: none

chore(deps): update dependency sentry-sdk to v2.68.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

fix(tests): match sentry spans to transactions via trace_id
  tests/duo_workflow_service/interceptors/test_monitoring_interceptor.py
Due: none

chore(mypy): resolve mypy type errors in LiteLLM
  Makefile
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: none

fix(code-review): surface failure when OneOffComponent exhausts correction attempts
  ai_gateway/prompts/registry.py
  docs/flow_registry/v1.md
  duo_workflow_service/agent_platform/constants.py
  duo_workflow_service/agent_platform/v1/components/base.py
  duo_workflow_service/agent_platform/v1/components/one_off/component.py
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/2.0.0-dev.yml
  tests/duo_workflow_service/agent_platform/v1/components/one_off/test_v1_one_off_component.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
  tests/prompts/test_registry.py
Due: none

test: assert every tool name in every v1 flow config is defined in the registry
  tests/duo_workflow_service/agent_platform/test_configs.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_security_review_config.py
Due: none

chore(deps): update dependency ruff to v0.16.6
  poetry.lock
Due: build:duo-agent-image, dependency_check

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
