Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

fix(flow components): ignore unknown additional context properties
  docs/flow_registry/contribution_guidelines.md
  docs/flow_registry/index.md
  duo_workflow_service/agent_platform/v1/flows/flow_config.py
  tests/duo_workflow_service/agent_platform/experimental/flows/test_base.py
  tests/duo_workflow_service/agent_platform/experimental/flows/test_flow_config.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
Due: none

fix(agents): surface specific error details instead of generic message
  duo_workflow_service/agent_platform/v1/flows/base.py
Due: none

feat: remove 2.0.0-local developer flow config
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0-local.yml
Due: none

fix(duo-workflow): dedup 404'd file requests in get_repository_file
  duo_workflow_service/tools/repository_files.py
  tests/duo_workflow_service/tools/test_repository_files.py
Due: none

fix: skip sanitization for get_repository_file tool
  duo_workflow_service/security/prompt_security.py
  tests/duo_workflow_service/tools/test_prompt_security.py
Due: none

fix(fix-pipeline-next): prevent endless checkout branch
  ai_gateway/prompts/definitions/fix_pipeline_checkout_existing_branch/system/1.0.0.jinja
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/fix_pipeline/1.0.0.yml
Due: none

fix: correctly set context details for foundational flow config validation
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_server.py
Due: none

feat: send current_thread_started_at with incremental checkpoints
  duo_workflow_service/checkpointer/gitlab_workflow.py
  poetry.lock
  pyproject.toml
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: build:duo-agent-image, dependency_check

chore: remove dead pylint disable from code review context test
  tests/duo_workflow_service/tools/code_review/test_build_review_merge_request_context.py
Due: none

feat(security_review): answer @-mentions in context, not re-review
  ai_gateway/prompts/definitions/security_review_respond/base/1.0.0.yml
  ai_gateway/prompts/definitions/security_review_respond/system/1.0.0.jinja
  ai_gateway/prompts/definitions/security_review_respond/user/1.0.0.jinja
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/base.py
  duo_workflow_service/agent_platform/v1/flows/configs/security_review/1.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
  tests/duo_workflow_service/agent_platform/v1/routers/test_router.py
  tests/prompts/test_registry.py
Due: none

feat: add gpt 5.6 models
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

perf(dap): Cache approved tool call results per session
  duo_workflow_service/components/tools_registry.py
  tests/duo_workflow_service/components/test_tools_registry.py
Due: none

test(security_review): move flow config guards to their own file
  lints/file_naming_for_tests.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_security_review_config.py
Due: none

feat(duo-workflow): add ListCapabilities RPC
  clients/gopb/contract/contract.pb.go
  clients/gopb/contract/contract_grpc.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  clients/ruby/lib/proto/contract_services_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  contract/contract_pb2_grpc.py
  duo_workflow_service/server.py
  duo_workflow_service/server_capabilities.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/test_server_capabilities.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

feat: extend StartFlow tool with SAST FP, SAST VR, and Secret Detection FP flows
  duo_workflow_service/tools/start_flow.py
  tests/duo_workflow_service/tools/test_start_flow.py
Due: none

chore(deps): update dependency langsmith to v0.9.7
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency anthropic to ^0.116.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(security_review): paginate the inline-anchoring diff fetch
  duo_workflow_service/tools/mr_review.py
  tests/duo_workflow_service/tools/test_mr_review.py
Due: none

fix: ensure flows are enabled for start flow tool
  ai_gateway/prompts/definitions/chat/agent/partials/system_static/1.0.0.jinja
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/gitlab/gitlab_api.py
  duo_workflow_service/gitlab/queries/versioned/19_2_0.graphql
  duo_workflow_service/tools/start_flow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/gitlab/queries/test_queries.py
  tests/duo_workflow_service/gitlab/test_gitlab_api.py
  tests/duo_workflow_service/tools/test_start_flow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix: resolve mypy errors from langchain-core 1.4.9 v1|v2 BaseModel union
  ai_gateway/prompts/bind_tools_cache.py
  duo_workflow_service/agent_platform/v1/components/deterministic_step/validation.py
  duo_workflow_service/tools/toolset.py
Due: none

feat(analytics-agent): advertise the barChart GLQL display type
  agent_tests/analytics_agent/test_embedded_view.py
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent/1.0.0.yml
Due: none

fix: allow creation of custom work items
  duo_workflow_service/tools/work_item.py
  duo_workflow_service/tools/work_items/base_tool.py
  tests/duo_workflow_service/tools/work_items/test_create_work_item.py
  tests/duo_workflow_service/tools/work_items/test_list_work_items.py
Due: none

chore(deps): update dependency langchain-core to v1.4.8
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency langchain-openai to v1.3.3
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency langchain-anthropic to v1.4.8
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.54.0
  .gitlab-ci.yml
Due: none

fix(dws): cap client pre-approved tools to JWT allow-list ceiling
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

fix: Limit `get_previous_session_context` tool to same workflow type
  duo_workflow_service/tools/previous_context.py
  tests/duo_workflow_service/tools/test_previous_context.py
Due: none

chore(deps): update dependency pytest-rerunfailures to v16.4
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore: remove deprecated GPT 5 Codex models
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  tests/proxy/clients/test_openai.py
Due: none

feat(model-selection): replace small/large with tags model
  ai_gateway/api/v1/models/get_definitions.py
  ai_gateway/model_metadata.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/unit_primitives.yml
  docs/flow_registry/v1.md
  docs/model_selection.md
  duo_workflow_service/agent_platform/v1/components/agent/component.py
  duo_workflow_service/agent_platform/v1/components/base.py
  duo_workflow_service/agent_platform/v1/components/one_off/component.py
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/orbit_agent/1.0.0.yml
  duo_workflow_service/entities/state.py
  duo_workflow_service/interceptors/model_metadata_interceptor.py
  lib/context/__init__.py
  lib/context/model.py
  tests/duo_workflow_service/agent_platform/v1/components/test_base.py
  tests/duo_workflow_service/interceptors/test_model_metadata_interceptor.py
  tests/lib/context/test_model.py
  tests/model_selection/test_model_selection_config.py
  tests/test_model_metadata.py
Due: none

chore(deps): update dependency uuid-utils to v0.16.2
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat: add client-certificate (mTLS) support for upstream model endpoints
  ai_gateway/config.py
  example.env
  tests/test_config.py
Due: none

feat(checkpointer): self-contained incremental blob groups
  duo_workflow_service/checkpointer/gitlab_workflow.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
Due: none

chore: group bedrock authorization context details
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_server.py
Due: none

fix(duo-workflow): thread real tool_call id into agent_platform v1 UI log message_id
  duo_workflow_service/agent_platform/v1/components/agent/nodes/tool_node.py
  duo_workflow_service/agent_platform/v1/components/agent/ui_log.py
  duo_workflow_service/agent_platform/v1/components/one_off/nodes/tool_node_with_error_correction.py
  duo_workflow_service/agent_platform/v1/components/one_off/ui_log.py
  duo_workflow_service/agent_platform/v1/components/supervisor/nodes/delegation_node.py
  duo_workflow_service/agent_platform/v1/components/supervisor/nodes/subagent_return_node.py
  tests/duo_workflow_service/agent_platform/experimental/components/agent/nodes/test_tool_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/nodes/test_v1_tool_node.py
  tests/duo_workflow_service/agent_platform/v1/components/agent/test_v1_ui_log.py
  tests/duo_workflow_service/agent_platform/v1/components/one_off/nodes/test_v1_tool_node_with_error_correction.py
  tests/duo_workflow_service/agent_platform/v1/components/one_off/test_v1_one_off_ui_log.py
  tests/duo_workflow_service/agent_platform/v1/components/supervisor/nodes/test_delegation_node.py
  tests/duo_workflow_service/agent_platform/v1/components/supervisor/nodes/test_subagent_return_node.py
Due: none

feat: add Duo Workflow Service and Customer Portal checks to troubleshoot
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  tests/ai_gateway/scripts/test_troubleshoot_selfhosted_installation.py
Due: none

feat(duo-workflow): tool-calling generative UI (render_ui tool + tool metadata)
  duo_workflow_service/agents/tools_executor.py
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/entities/state.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/render_ui.py
  duo_workflow_service/tools/render_ui_schema.json
  duo_workflow_service/workflows/chat/workflow.py
  lib/feature_flags/context.py
  tests/duo_workflow_service/agents/test_tools_executor.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_render_ui.py
Due: none

refactor(history-optimizer): migrate legacy agents to pipeline
  duo_workflow_service/agents/agent.py
  duo_workflow_service/agents/chat_agent.py
  duo_workflow_service/agents/chat_agent_factory.py
  duo_workflow_service/conversation/history_optimizer/__init__.py
  duo_workflow_service/conversation/history_optimizer/builder.py
  duo_workflow_service/conversation/history_optimizer/optimizers/compaction.py
  duo_workflow_service/conversation/history_optimizer/optimizers/legacy_trim.py
  duo_workflow_service/conversation/history_optimizer/schema.py
  duo_workflow_service/conversation/history_optimizer/validation.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/agents/test_agent.py
  tests/duo_workflow_service/agents/test_chat_agent.py
  tests/duo_workflow_service/agents/test_chat_agent_factory.py
  tests/duo_workflow_service/conversation/history_optimizer/optimizers/test_compaction.py
  tests/duo_workflow_service/conversation/history_optimizer/optimizers/test_legacy_trim.py
  tests/duo_workflow_service/conversation/history_optimizer/test_builder.py
  tests/duo_workflow_service/conversation/history_optimizer/test_pipeline.py
  tests/duo_workflow_service/conversation/history_optimizer/test_schema.py
  tests/duo_workflow_service/conversation/history_optimizer/test_validation.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
