Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

build:duo-agent-image:
  stage: build
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: $CI_REGISTRY_IMAGE/duo-agent:latest

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

feat(code-review): add two opt-in output flags to build_review_merge_request_context
  duo_workflow_service/tools/code_review/build_review_merge_request_context.py
  tests/duo_workflow_service/tools/code_review/test_build_review_merge_request_context.py
Due: none

feat(code-review): add findings publish tool for advanced review
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/code_review/__init__.py
  duo_workflow_service/tools/code_review/post_duo_code_review_findings.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/code_review/test_post_duo_code_review_findings.py
Due: none

feat(code-review): add the advanced_code_review flow
  ai_gateway/prompts/definitions/advanced_code_review_reviewer/base/1.0.0.yml
  ai_gateway/prompts/definitions/advanced_code_review_reviewer/system/1.0.0.jinja
  ai_gateway/prompts/definitions/advanced_code_review_reviewer/user/1.0.0.jinja
  ai_gateway/response_schemas/definitions/code_review_phase_findings/base/1.0.0.json
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/advanced_code_review/1.0.0.yml
  lints/file_naming_for_tests.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_advanced_code_review_config.py
  tests/prompts/test_registry.py
Due: none

feat: add gpt-6-astra model
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
Due: none

feat(audit): add session_approval to the ApprovalSource proto enum
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/entities/state.py
  tests/duo_workflow_service/entities/test_state.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

feat(code-review): ask the reviewer for one-click code suggestions
  ai_gateway/prompts/definitions/advanced_code_review_reviewer/system/1.0.0.jinja
  ai_gateway/response_schemas/definitions/code_review_phase_findings/base/1.0.0.json
  tests/duo_workflow_service/agent_platform/v1/flows/test_advanced_code_review_config.py
Due: none

Restore .github directory after GitLab sync
  .github/workflows/mirror-gitlab.yml
Due: none

feat(flow-registry): add risk_classification/v1 flow config
  ai_gateway/response_schemas/definitions/risk_classification_claims/base/1.0.0.json
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/risk_classification/1.0.0.yml
  duo_workflow_service/agent_platform/v1/state/base.py
  duo_workflow_service/tools/risk_classification/submit_merge_request_risk_classification.py
  tests/duo_workflow_service/agent_platform/v1/state/test_base.py
  tests/duo_workflow_service/tools/risk_classification/test_submit_merge_request_risk_classification.py
Due: none

chore(deps): update dependency botocore to v1.43.83
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency pylint to v4.0.8
  poetry.lock
Due: build:duo-agent-image, dependency_check

revert: Revert "feat: Renaming the business context security guidelines flow"
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/experimental/flows/configs/business_context_security_guidelines/1.0.0.yml
  tests/duo_workflow_service/agent_platform/experimental/flows/configs/test_business_context_security_guidelines_prompt.py
Due: none

test: enable co-located feature tests with shared fixtures
  Makefile
  conftest.py
  pyproject.toml
  tests/duo_workflow_service/conftest.py
Due: build:duo-agent-image

feat(flow-registry): inject customer-defined agents into shipped flows
  duo_workflow_service/agent_platform/v1/catalog/__init__.py
  duo_workflow_service/agent_platform/v1/catalog/binding.py
  duo_workflow_service/agent_platform/v1/catalog/errors.py
  duo_workflow_service/agent_platform/v1/catalog/items/__init__.py
  duo_workflow_service/agent_platform/v1/catalog/items/registry.py
  duo_workflow_service/agent_platform/v1/catalog/items/workspace_agent.py
  duo_workflow_service/agent_platform/v1/catalog/sources/__init__.py
  duo_workflow_service/agent_platform/v1/catalog/sources/base.py
  duo_workflow_service/agent_platform/v1/catalog/sources/reference.py
  duo_workflow_service/agent_platform/v1/catalog/sources/registry.py
  duo_workflow_service/agent_platform/v1/catalog/sources/workspace_agent.py
  duo_workflow_service/agent_platform/v1/flows/base.py
  duo_workflow_service/agent_platform/v1/flows/configs/developer/2.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/flow_config.py
  duo_workflow_service/agent_platform/v1/flows/graph_builder.py
  duo_workflow_service/agent_platform/v1/flows/validation.py
  duo_workflow_service/schemas/v1/flow_config.schema.json
  tests/duo_workflow_service/agent_platform/test_configs.py
  tests/duo_workflow_service/agent_platform/v1/catalog/__init__.py
  tests/duo_workflow_service/agent_platform/v1/catalog/items/__init__.py
  tests/duo_workflow_service/agent_platform/v1/catalog/items/test_registry.py
  tests/duo_workflow_service/agent_platform/v1/catalog/items/test_workspace_agent.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/__init__.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/conftest.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/test_reference.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/test_registry.py
  tests/duo_workflow_service/agent_platform/v1/catalog/sources/test_workspace_agent.py
  tests/duo_workflow_service/agent_platform/v1/catalog/test_binding.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_graph_builder.py
Due: none

chore(deps): update dependency joblib to v1.6.0
  poetry.lock
Due: build:duo-agent-image, dependency_check

ci(sanity-check): show human-readable failure reason
  .gitlab/ci/sanity-check.gitlab-ci.yml
  scripts/submit_cef_eval.sh
Due: none

feat(duo-workflow): accept workspace agents in the catalog items envelope on the start request
  clients/gopb/contract/contract.pb.go
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/flow_request.py
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_flow_request.py
  tests/duo_workflow_service/test_server.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

docs(flow-registry): document including workspace agents in flows
  docs/flow_registry/v1.md
Due: none

chore(model-selection): route feature_discovery_search to Gemini 3.6 Flash
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/prompts/definitions/feature_discovery_search/base/1.0.0.yml
Due: none

fix: Enable retry on first message
  duo_workflow_service/checkpointer/gitlab_workflow_utils.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

fix(node-client): bump version to 0.1.63 to publish the catalog items contract
  clients/node/package-lock.json
  clients/node/package.json
Due: publish-node-client, check-proto-node

fix(security-flows): make SAST fix validation deterministic
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/v1/flows/configs/resolve_sast_vulnerability/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/resolve_sast_vulnerability/1.0.1.yml
  scripts/generate_graph_docs.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
Due: none

chore(ruby-client): bump gem version to 0.11
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
Due: check-proto-ruby

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.63.0
  .gitlab-ci.yml
Due: none

fix(runway): relax liveness probe thresholds
  .runway/ai-gateway-custom/runway.yml
  .runway/runway-staging.yml
  .runway/runway.yml
Due: none

feat(wiring): fail startup on unresolved dependency-injection markers
  ai_gateway/api/server.py
  duo_workflow_service/server.py
  lib/container_wiring.py
  tests/api/test_server.py
  tests/duo_workflow_service/test_server.py
  tests/lib/test_container_wiring.py
  tests/lib/wiring_fixtures.py
  tests/lib/wiring_fixtures_unwired.py
Due: none

docs(flow-registry): add agent-flows skill and flow config review instructions
  .agents/skills/agent-flows/SKILL.md
  .gitlab/duo/mr-review-instructions.yaml
Due: none

fix(chat): ignore catalog_items in chat.Workflow constructor
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(agent_platform): drop undefined gitlab_api_post tool from project_activity flow
  duo_workflow_service/agent_platform/v1/flows/configs/project_activity/1.0.0.yml
Due: none

feat(flows): discover flow configs from feature config roots
  duo_workflow_service/agent_platform/v1/flows/flow_config.py
  duo_workflow_service/server.py
  tests/duo_workflow_service/agent_platform/test_configs.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config_feature_roots.py
  tests/duo_workflow_service/test_server.py
Due: none

feat(chat): address attachment review feedback
  duo_workflow_service/conversation/token_estimator.py
  duo_workflow_service/entities/attachments.py
  duo_workflow_service/entities/image_blocks.py
  duo_workflow_service/token_counter/tiktoken_counter.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/conversation/test_token_estimator.py
  tests/duo_workflow_service/entities/test_attachments.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(chat): a bad attachment must not fail the session
  duo_workflow_service/entities/attachments.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

docs(chat): an image does not survive its own turn
  duo_workflow_service/entities/image_blocks.py
  duo_workflow_service/json_encoder/encoder.py
  tests/duo_workflow_service/json_encoder/test_encoder.py
Due: none

feat(chat): check an attachment is the format it claims to be
  duo_workflow_service/entities/attachments.py
  tests/duo_workflow_service/entities/test_attachments.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(chat): bound and clean the attachment filename
  duo_workflow_service/entities/attachments.py
  tests/duo_workflow_service/entities/test_attachments.py
Due: none

fix(chat): a wholly rejected turn leaves no empty user bubble
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

feat(chat): deliver user file attachments to the model
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

feat(attachments): add the image content block contract and shared plumbing
  ai_gateway/models/v2/_model_compat.py
  ai_gateway/models/v2/chat_litellm.py
  duo_workflow_service/entities/attachments.py
  duo_workflow_service/entities/image_blocks.py
  duo_workflow_service/json_encoder/encoder.py
  duo_workflow_service/token_counter/tiktoken_counter.py
  tests/ai_gateway/models/v2/test__model_compat.py
  tests/duo_workflow_service/entities/test_attachments.py
  tests/duo_workflow_service/entities/test_image_blocks.py
  tests/duo_workflow_service/json_encoder/test_encoder.py
  tests/duo_workflow_service/token_counter/test_tiktoken_counter.py
Due: none

fix(chat): drop GIF from the attachment allowlist
  duo_workflow_service/entities/attachments.py
  tests/duo_workflow_service/entities/test_attachments.py
Due: none

fix(chat): ambient context must not resurrect the empty user entry
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

fix(chat): reference envelopes send empty content, not null
  duo_workflow_service/entities/attachments.py
  tests/duo_workflow_service/entities/test_attachments.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
Due: none

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
