Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:duo-agent-image, dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

Path conditions:
  build:duo-agent-image: any of: docker/agent/Dockerfile, poetry.lock, pyproject.toml
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json

docs(agents): distill !6847 session into test-run and venv guidance
  .gitlab/duo/agent-config.yml
  AGENTS.md
Due: none

chore(troubleshoot): probe code generation through the v4 endpoint
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  tests/scripts/test_troubleshoot_selfhosted_installation.py
Due: none

fix(duo-workflow): log expected workflow conditions below error level
  duo_workflow_service/executor/action.py
  duo_workflow_service/executor/outbox.py
  duo_workflow_service/server.py
  duo_workflow_service/tools/duo_base_tool.py
  duo_workflow_service/tools/repository_files.py
  tests/duo_workflow_service/executor/test_outbox.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/tools/test_duo_base_tool.py
  tests/duo_workflow_service/tools/test_repository_files.py
Due: none

feat(duo-workflow): forward only a for_each body's declared inputs
  docs/flow_registry/experimental.md
  duo_workflow_service/agent_platform/experimental/components/for_each/component.py
  duo_workflow_service/agent_platform/v1/state/base.py
  tests/duo_workflow_service/agent_platform/experimental/components/for_each/test_component.py
  tests/duo_workflow_service/agent_platform/v1/state/test_base.py
Due: none

perf(ci): start tests:unit without waiting on install
  .gitlab/ci/test.gitlab-ci.yml
Due: none

docs(agents): point Flow Registry changes to the contribution guidelines
  AGENTS.md
Due: none

refactor(chat-engine): complete an engine-owned config through to_config directly
  docs/flow_registry/chat_engine.md
  duo_workflow_service/agent_platform/v1/chat_engine/__init__.py
  duo_workflow_service/agent_platform/v1/chat_engine/normalization.py
  duo_workflow_service/workflows/registry.py
  tests/duo_workflow_service/agent_platform/v1/chat_engine/test_flow.py
  tests/duo_workflow_service/agent_platform/v1/chat_engine/test_graph_builder.py
  tests/duo_workflow_service/agent_platform/v1/chat_engine/test_normalization.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_flow_config.py
Due: none

feat(bl-security): add priority ordering and shared BL helpers
  duo_workflow_service/bl_security/__init__.py
  duo_workflow_service/bl_security/executor_output.py
  duo_workflow_service/bl_security/priority.py
  duo_workflow_service/bl_security/target_files.py
  tests/duo_workflow_service/bl_security/__init__.py
  tests/duo_workflow_service/bl_security/test_executor_output.py
  tests/duo_workflow_service/bl_security/test_priority.py
  tests/duo_workflow_service/bl_security/test_target_files.py
Due: none

feat(prompts): register nested prompt IDs and ai/shared/ prompt roots
  .gitlab/ci/lint.gitlab-ci.yml
  ai_gateway/prompts/base.py
  ai_gateway/prompts/feature_roots.py
  ai_gateway/prompts/registry.py
  docs/module_boundaries.md
  scripts/prompt_diff_comment.py
  scripts/prompt_directory_json_builder.py
  scripts/update_prompt_version.sh
  tests/prompts/test_feature_roots.py
  tests/scripts/test_prompt_diff_comment.py
  tests/test_feature_ids_unique.py
Due: none

fix(dws): bind workflow tokens to the workflow they are issued for
  clients/gopb/contract/contract.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/Gemfile.lock
  clients/ruby/lib/gitlab/duo_workflow_service/version.rb
  clients/ruby/lib/proto/contract_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  duo_workflow_service/server.py
  tests/duo_workflow_service/test_server.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

feat(workplan): persist readiness score feedback in the v1.1.0 supervisor call
  duo_workflow_service/agent_platform/v1/flows/configs/workplan/1.1.0.yml
  duo_workflow_service/tools/version_compatibility.py
  duo_workflow_service/tools/work_item.py
  duo_workflow_service/tools/work_items/base_tool.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_workplan_v1_1_config.py
  tests/duo_workflow_service/tools/test_version_compatibility.py
  tests/duo_workflow_service/tools/work_items/test_create_work_item.py
  tests/duo_workflow_service/tools/work_items/test_update_work_item.py
Due: none

fix(duo-workflow): stop reporting handled tool and token errors to Sentry
  duo_workflow_service/tracking/sentry_error_tracking.py
  tests/duo_workflow_service/tracking/test_sentry_error_tracking.py
Due: none

fix: raise max_tokens for self-hosted Claude and general models
  ai_gateway/model_selection/models.yml
Due: none

chore(deps): bump @grpc/grpc-js and protobufjs
  clients/node/package-lock.json
  clients/node/package.json
Due: publish-node-client, check-proto-node

feat(bl_security): add business-logic review-unit selection
  duo_workflow_service/bl_security/discovery_patterns.py
  duo_workflow_service/bl_security/units.py
  tests/duo_workflow_service/bl_security/test_units.py
Due: none

fix(duo-workflow): log client cancellations and checkpoint auth failures below error
  duo_workflow_service/agent_platform/experimental/flows/base.py
  duo_workflow_service/agent_platform/v1/flows/base.py
  duo_workflow_service/checkpointer/gitlab_workflow.py
  duo_workflow_service/tracking/errors.py
  duo_workflow_service/workflows/chat/workflow.py
  duo_workflow_service/workflows/convert_to_gitlab_ci/workflow.py
  duo_workflow_service/workflows/issue_to_merge_request/workflow.py
  tests/duo_workflow_service/agent_platform/experimental/flows/test_base.py
  tests/duo_workflow_service/agent_platform/v1/flows/test_base.py
  tests/duo_workflow_service/checkpointer/test_gitlab_workflow.py
  tests/duo_workflow_service/tracking/test_errors.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/convert_to_gitlab_ci/test_convert_to_gitlab_ci_workflow.py
Due: none

fix(duo-workflow): skip sending empty audit event batches
  duo_workflow_service/audit_events/client.py
  tests/duo_workflow_service/audit_events/test_client.py
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v4.69.0
  .gitlab-ci.yml
Due: none

chore(model-selection): use Claude Haiku 4.5 for recommend reviewers
  ai_gateway/model_selection/unit_primitives.yml
Due: none

fix(docker): remove python-ecdsa from final images
  Dockerfile
  docker/fips/Dockerfile
Due: none

fix(deep-code-review): render escaped newlines between summary bullets
  duo_workflow_service/tools/code_review/findings.py
  tests/duo_workflow_service/tools/code_review/test_findings.py
Due: none

fix(code-review): stop disputed threads from blocking deep code review
  ai_gateway/prompts/definitions/deep_code_review_reviewer/system/1.0.0.jinja
  ai_gateway/response_schemas/definitions/code_review_findings/base/1.0.0.json
  duo_workflow_service/tools/code_review/findings.py
  duo_workflow_service/tools/code_review/post_duo_code_review_findings.py
  tests/duo_workflow_service/tools/code_review/test_findings.py
Due: none

feat(duo-workflow): emit model routing decision telemetry
  ai_gateway/model_selection/model_selection_config.py
  config/events/duo_workflow_model_routing_decision.yml
  docs/model_routing/index.md
  docs/model_selection.md
  duo_workflow_service/model_routing.py
  duo_workflow_service/server.py
  lib/internal_events/event_enum.py
  tests/duo_workflow_service/test_model_routing.py
  tests/duo_workflow_service/test_server.py
  tests/model_selection/test_model_selection_config.py
Due: none

fix(duo-chat): keep native search tools when MCP tools are not enabled
  duo_workflow_service/workflows/abstract_workflow.py
  duo_workflow_service/workflows/chat/workflow.py
  tests/duo_workflow_service/workflows/chat/test_chat_workflow.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

fix(code-review): list prescan directories from the local checkout
  ai_gateway/prompts/definitions/explore_directories_for_prescan/base/1.1.0.yml
  ai_gateway/prompts/definitions/explore_directories_for_prescan/system/1.1.0.jinja
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/1.0.0.yml
  duo_workflow_service/agent_platform/v1/flows/configs/code_review/2.0.0.yml
  tests/duo_workflow_service/agent_platform/v1/flows/test_code_review_config.py
Due: none

chore(deps): update dependency langchain-core to v1.6.5
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore(deps): update dependency ruff to v0.16.9
  poetry.lock
Due: build:duo-agent-image, dependency_check

feat(tools): add bl_prioritize_and_cap BL tool
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/bl_prioritize_and_cap.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_bl_prioritize_and_cap.py
Due: none

chore(deps): update dependency google-auth to v2.58.1
  poetry.lock
Due: build:duo-agent-image, dependency_check

chore: Deprecate GPT 5.4 nano, GPT 5.1 and GPT 5.3 Codex
  ai_gateway/model_selection/models.yml
Due: none

chore(deps): update dependency uvicorn to ^0.54.0
  poetry.lock
  pyproject.toml
Due: build:duo-agent-image, dependency_check

fix(duo-chat): retry without web search when blocked by Vertex policy
  ai_gateway/models/v2/chat_litellm.py
  tests/models/v2/test_chat_litellm.py
Due: none

feat(tools): add bl_collect_and_flatten BL tool
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/bl_collect_and_flatten.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_bl_collect_and_flatten.py
Due: none

feat(tools): add bl_dedup_findings BL tool and shared findings helpers
  duo_workflow_service/bl_security/findings.py
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/bl_report.py
  tests/duo_workflow_service/bl_security/test_findings.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_bl_report.py
Due: none

feat(tools): add deterministic bl_discover_and_cluster tool
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/bl_discovery.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_bl_discovery.py
Due: none

feat(duo-workflow): route Duo Developer with a classifier and BM25 keyword hints
  ai_gateway/model_selection/keyword_bm25.py
  ai_gateway/model_selection/model_selection_config.py
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/prompts/definitions/classify_goal_tier/base/1.0.0.yml
  config/events/duo_workflow_model_routing_decision.yml
  docs/model_selection.md
  duo_workflow_service/model_routing.py
  duo_workflow_service/server.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/test_model_routing.py
  tests/duo_workflow_service/test_server.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
  tests/model_selection/test_keyword_bm25.py
  tests/model_selection/test_model_selection_config.py
  tests/model_selection/test_shipped_routing_policy.py
Due: none

feat(tools): add bl_write_sast_report BL tool
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/__init__.py
  duo_workflow_service/tools/bl_write_sast_report.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_bl_write_sast_report.py
Due: none

fix(duo-workflow): stop test logging setup from caching structlog loggers
  duo_workflow_service/structured_logging.py
  tests/duo_workflow_service/test_structured_logging.py
  tests/duo_workflow_service/test_verbose_ai_logs_integration.py
  tests/duo_workflow_service/tracking/test_sentry_error_tracking.py
Due: none

feat(duo-workflow): add the BL security 1.0.0 flow and its config guards
  ai_gateway/model_selection/unit_primitives.yml
  docs/duo_workflow_service_graphs.md
  duo_workflow_service/agent_platform/experimental/flows/configs/bl_security/1.0.0.yml
  pyproject.toml
  tests/duo_workflow_service/agent_platform/experimental/flows/configs/test_bl_security_config.py
  tests/duo_workflow_service/agent_platform/experimental/flows/configs/test_bl_security_failure_routing.py
  tests/duo_workflow_service/tools/test_bl_collect_and_flatten.py
  tests/model_selection/test_shipped_bl_security_setting.py
Due: build:duo-agent-image

chore(deps): update dependency boto3 to v1.43.103
  poetry.lock
Due: build:duo-agent-image, dependency_check
