Repository movax01h/ai-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency_check, lint:doc, publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

dependency_check:
  allow_failure: true
  stage: test
  image: docker:20.10.24
  services:
  - docker:20.10.24-dind
  needs: []
  variables:
    GIT_CHECKOUT: 'false'
    DISABLE_MENTIONS: 'false'
    DISABLE_SCORING: 'false'
    DISABLE_COMMENTING: 'false'
    IMAGE_BRANCH: master
  ...

lint:doc:
  stage: test
  image: ${DOCS_LINT_IMAGE}
  script:
  - make lint-doc

publish-node-client:
  stage: release
  image: node:20-alpine
  allow_failure: true
  script:
  - cd clients/node
  - '# Configure npm to use GitLab''s registry with CI token for auth
  
    npm config set @gitlab-org:registry https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
  
  ...

check-proto-go:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: golang:${GO_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - apt update
  - apt install unzip
  - make gen-proto-go
  ...

check-proto-python:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: python:${PYTHON_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - pip install poetry==${POETRY_VERSION}
  - make gen-proto-python
  ...

check-proto-ruby:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: ruby:${RUBY_VERSION}-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-ruby
  ...

check-proto-node:
  variables:
    DEBIAN_VERSION: bookworm
    RUBY_VERSION: '3.3'
    GO_VERSION: '1.22'
    PYTHON_VERSION: 3.12.10
    POETRY_VERSION: 2.0.1
  image: node:18-${DEBIAN_VERSION}
  stage: test
  script:
  - make gen-proto-node
  ...

chore: update vertex search fallback database version
  .runway/ai-gateway-eks/eks-service-production.yaml
  .runway/ai-gateway-eks/eks-service-staging.yaml
  .runway/ai-gateway-gke/gke-service-production.yaml
  .runway/ai-gateway-gke/gke-service-staging.yaml
  .runway/duo-agent-mirror/env-production.yml
  .runway/duo-agent-mirror/env-staging.yml
  .runway/duo-workflow-svc-eks/default-values.yaml
  .runway/duo-workflow-svc/env-production.yml
  .runway/duo-workflow-svc/env-staging.yml
  .runway/dws-loadtest/env-production.yml
  .runway/dws-loadtest/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
Due: none

chore(deps): update dependency litellm to v1.81.1
  poetry.lock
Due: dependency_check

chore(runway): switch GCP project for AIGW
  .runway/env-production.yml
Due: none

chore(performance): optimize mcp tools initialization
  duo_workflow_service/components/tools_registry.py
  duo_workflow_service/tools/mcp_tools.py
  duo_workflow_service/workflows/abstract_workflow.py
  tests/duo_workflow_service/components/test_tools_registry.py
  tests/duo_workflow_service/tools/test_mcp_tools.py
  tests/duo_workflow_service/workflows/test_abstract_workflow.py
Due: none

fix: clarify label parameters description for work items
  duo_workflow_service/tools/work_item.py
Due: none

chore(deps): update dependency pyfakefs to v5.10.2
  poetry.lock
Due: dependency_check

chore(deps): update dependency pytest-asyncio to v1.3.0
  poetry.lock
Due: dependency_check

feat: add missing proxy provider for the gpt-5.2
  ai_gateway/model_selection/models.yml
Due: none

chore(deps): update dependency pytest-cov to v6.3.0
  poetry.lock
Due: dependency_check

chore(deps): update dependency pytest-watcher to ^0.6.0
  poetry.lock
  pyproject.toml
Due: dependency_check

chore(deps): update mypy to v1.19.1 and fix type errors
  duo_workflow_service/agent_platform/experimental/components/registry.py
  duo_workflow_service/agent_platform/v1/components/registry.py
  poetry.lock
  tests/api/v2/test_v2_code.py
Due: dependency_check

chore(deps): update dependency python-dotenv to v1.2.1
  poetry.lock
Due: dependency_check

chore(deps): update dependency python-gitlab to v6.5.0
  poetry.lock
Due: dependency_check

chore(deps): update dependency sentry-sdk to v2.50.0
  poetry.lock
Due: dependency_check

fix(mypy): fix mypy exclusion on scripts folder
  Makefile
  scripts/__init__.py
  scripts/validate_graphql.py
Due: none

chore: add the AWS env vars to example.env
  example.env
Due: none

test: trigger rails ci from aigw repo
  .gitlab/ci/test.gitlab-ci.yml
Due: none

fix: bump runway service load balancer request timeout
  .runway/runway-staging.yml
  .runway/runway.yml
Due: none

chore(deps): update dependency structlog to v25.5.0
  poetry.lock
Due: dependency_check

chore(deps): update dependency tiktoken to ^0.12.0
  poetry.lock
  pyproject.toml
Due: dependency_check

chore: add log to understand invalid tool calls
  duo_workflow_service/agents/tools_executor.py
Due: none

chore(deps): update dependency transformers to v4.57.6
  poetry.lock
Due: dependency_check

feat: enable Data Analyst to comment on work items and MRs
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent.yml
Due: none

fix: increasing anthropic timeout
  ai_gateway/models/anthropic.py
  ai_gateway/models/v2/anthropic_claude.py
  tests/models/v2/test_v2_anthropic.py
Due: none

Revert "Merge branch 'renovate/litellm-1.x-lockfile' into 'main'"
  poetry.lock
Due: dependency_check

chore(deps): bump poetry to 2.3.1
  .gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .tool-versions
  Dockerfile
  docker/fips/Dockerfile
  poetry.lock
Due: dependency_check

chore: capture self hosted billing header
  duo_workflow_service/interceptors/metadata_context_interceptor.py
  lib/self_hosted_dap_billing_context.py
  tests/duo_workflow_service/interceptors/test_metadata_context_interceptor.py
Due: none

chore: add more info to invalid tool call log
  duo_workflow_service/agents/tools_executor.py
Due: none

feat: Add FP detection metadata exposure to vulnerability tools
  duo_workflow_service/tools/security.py
  duo_workflow_service/tools/vulnerabilities/get_vulnerability_details.py
  duo_workflow_service/tools/vulnerabilities/queries/vulnerabilities.py
  tests/duo_workflow_service/tools/test_security.py
  tests/duo_workflow_service/tools/vulnerabilities/test_get_vulnerability_details.py
Due: none

chore: Add dependency reviews for @tmrrss
  renovate.json
Due: none

feat(billing): introduce TrackSelfHostedExecuteWorkflow
  clients/gopb/contract/contract.pb.go
  clients/gopb/contract/contract_grpc.pb.go
  clients/node/package-lock.json
  clients/node/package.json
  clients/node/src/grpc/contract.ts
  clients/ruby/lib/proto/contract_pb.rb
  clients/ruby/lib/proto/contract_services_pb.rb
  contract/contract.proto
  contract/contract_pb2.py
  contract/contract_pb2.pyi
  contract/contract_pb2_grpc.py
  duo_workflow_service/interceptors/route/usage_quota.py
  duo_workflow_service/server.py
  tests/duo_workflow_service/interceptors/route/test_usage_quota.py
  tests/duo_workflow_service/test_server.py
Due: publish-node-client, check-proto-go, check-proto-python, check-proto-ruby, check-proto-node

chore: track invalid tool calls
  duo_workflow_service/agents/tools_executor.py
Due: none

chore: switch Duo Classic Chat's Unit Primitive to the new duo_classic_chat
  ai_gateway/api/v1/chat/auth.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/config.py
  ai_gateway/prompts/definitions/chat/react/base/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/react/base/1.0.2-dev.yml
  ai_gateway/prompts/definitions/chat/react/base/1.1.0.yml
  ai_gateway/prompts/definitions/chat/react/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/litellm/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/vertex/1.0.0.yml
  poetry.lock
  pyproject.toml
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v2/test_v2_chat_agent.py
  tests/test_config.py
Due: dependency_check

chore(deps): update dependency anthropic to ^0.76.0
  poetry.lock
  pyproject.toml
Due: dependency_check

chore: updating litellm to 1.80.0
  ai_gateway/models/anthropic.py
  ai_gateway/models/v2/anthropic_claude.py
  ai_gateway/prompts/definitions/chat/react/base/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/base/1.0.1.yml
  ai_gateway/prompts/definitions/chat/react/base/1.0.2-dev.yml
  ai_gateway/prompts/definitions/chat/react/base/1.1.0.yml
  ai_gateway/prompts/definitions/chat/react/claude_3/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/litellm/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/llama3/1.0.0.yml
  ai_gateway/prompts/definitions/chat/react/vertex/1.0.0.yml
  poetry.lock
  tests/models/v2/test_v2_anthropic.py
Due: dependency_check

feat: update check_sast_false_positive_status to use nuanced cross-file analysis
  ai_gateway/prompts/definitions/check_sast_false_positive_status/system/1.0.0.jinja
  ai_gateway/prompts/definitions/check_sast_false_positive_status/user/1.0.0.jinja
Due: none

fix(mypy): fix mypy warnings on tests folders
  Makefile
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_container.py
Due: none

chore: use Haiku on Vertex by default for agentic chat
  ai_gateway/model_selection/models.yml
  ai_gateway/model_selection/unit_primitives.yml
  ai_gateway/models/v2/container.py
  tests/models/v2/test_container.py
Due: none

fix: remove unsupported -a flag from docker command
  .gitlab/ci/dependency-review.gitlab-ci.yml
Due: none

feat: add support for pagination to glql tool
  duo_workflow_service/agent_platform/v1/flows/configs/analytics_agent.yml
  duo_workflow_service/tools/run_glql_query.py
  tests/duo_workflow_service/tools/test_run_glql_query.py
Due: none

Path conditions:
  dependency_check: any of: poetry.lock, */poetry.lock
  lint:doc: any of: **/*.{md}, {doc}/**/*
  publish-node-client: any of: clients/node/**/*
  check-proto-go: any of: contract/**/*.proto, clients/gopb/**/*.go
  check-proto-python: any of: contract/**/*.proto, contract/**/*.py, contract/**/*.pyi
  check-proto-ruby: any of: contract/**/*.proto, clients/ruby/**/*.rb
  check-proto-node: any of: contract/**/*.proto, clients/node/src/**/*.ts, clients/node/package.json, clients/node/package-lock.json
